<nav class="navbar navbar-expand-lg bg-steam-green p-1" th:fragment="navbarAdministrationFragment">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/Dashboard"><span class="text-uppercase fw-semibold">RMS</span> : :
            STEAM</a>
        <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarText" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon" style="filter: invert(100%)"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <!-- Navbar left side (Default)-->
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class='nav-link text-white custom-width-max-content' href="/Administration">Go Back To Administration</a>
                </li>
            </ul>
            <!-- Navbar Right side -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:attr="class=${activeNavItem=='exams' ? 'nav-link text-white custom-width-max-content custom-active' : 'nav-link text-white custom-width-max-content'}" href="/Exam">Exam Attempts</a>
                </li>
                <li class="nav-item">
                    <a th:attr="class=${activeNavItem=='marks' ? 'nav-link text-white custom-width-max-content custom-active' : 'nav-link text-white custom-width-max-content'}" href="/Marks">Marks Validation</a>
                </li>
                <li class="nav-item me-3">
                    <a aria-current="page" class="nav-link text-white custom-width-max-content position-relative" href="#"><i class="fa-solid fa-bell"></i>
                        <span class="position-absolute translate-middle badge w-auto rounded-pill start-100 bottom-75 bg-danger small" style="z-index: 1">99+<span class="visually-hidden">unread messages</span>
                        </span></a>
                </li>
                <li class="nav-item dropdown-center custom-width-max-content p-0">
                    <button aria-expanded="false" id="btnProfileName"
                            class="nav-link btn bg-steam-green text-capitalize text-white dropdown-toggle custom-width-max-content border-0"
                            data-bs-toggle="dropdown" th:text="${username}">Profile
                    </button>
                    <ul class="dropdown-menu mt-1 dropdown-menu-end rounded-0 mb-0 pb-0">

                        <div class="dropdown-item p-0">
                            <div class="card w-100 p-0 m-0 border-0 rounded-0">
                                <div class="card-body rounded-0">
                                    <div class="d-flex align-items-center justify-content-between gap-3">
                                        <img class="" src="https://emc.sgp1.digitaloceanspaces.com/uploads/hris/employees/photos/1556/1556.jpeg" width="50px">
                                        <div>
                                            <p class="text-muted small text-small mb-0" th:text="${loggedInEmployeeName}">Employee Name</p>
                                            <p class="text-muted small text-small mb-0"><small th:text="${loggedInDesignationName}">Employee Destination</small></p>
                                        </div>

                                    </div>
                                    <div class="btn btn-sm btn-danger w-100 text-white border-0 text-center mt-3" onclick="logout()">Logout</div>
                                </div>

                            </div>
                        </div>
                    </ul>

                </li>


            </ul>
        </div>
    </div>
</nav>