<nav class="navbar navbar-expand-lg bg-steam-green p-1" th:fragment="navbarFragment">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="Dashboard"><span class="text-uppercase fw-semibold">RMS</span> : :
            STEAM</a>
        <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarText" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon" style="filter: invert(100%)"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <!-- Navbar left side (Default)-->
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a th:attr="class=${activeNavItem=='newRegistration' ? 'nav-link text-white custom-width-max-content custom-active' : 'nav-link text-white custom-width-max-content'}" href="New-Registration">New Registration</a>
                </li>
                <li class="nav-item">
                    <a th:attr="class=${activeNavItem=='attendance' ? 'nav-link text-white custom-width-max-content custom-active' : 'nav-link text-white custom-width-max-content'}" href="Attendance">Attendance</a>
                </li>
                <li class="nav-item">
                    <a th:attr="class=${activeNavItem=='dayPlan' ? 'nav-link text-white custom-width-max-content custom-active' : 'nav-link text-white custom-width-max-content'}" href="Daily-Schedule">Daily Schedule</a>
                </li>
            </ul>
            <!-- Navbar Right side -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:attr="class=${activeNavItem=='registrations' ? 'nav-link text-white custom-width-max-content custom-active' : 'nav-link text-white custom-width-max-content'}" href="Registration">Registrations</a>
                </li>
                <li class="nav-item">
                    <a th:attr="class=${activeNavItem=='courses' ? 'nav-link text-white custom-width-max-content custom-active' : 'nav-link text-white custom-width-max-content'}" href="Course">Courses</a>
                </li>
                <li class="nav-item">
                    <a th:attr="class=${activeNavItem=='batches' ? 'nav-link text-white custom-width-max-content custom-active' : 'nav-link text-white custom-width-max-content'}" href="Batch">Batches</a>
                </li>
                <li class="nav-item">
                    <a th:attr="class=${activeNavItem=='exams' ? 'nav-link text-white custom-width-max-content custom-active' : 'nav-link text-white custom-width-max-content'}" href="Mark">Marks</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a th:attr="class=${activeNavItem=='validation' ? 'nav-link text-white custom-width-max-content custom-active' : 'nav-link text-white custom-width-max-content'}" href="Marks-Validation">Marks Validation</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a th:attr="class=${activeNavItem=='reports' ? 'nav-link text-white custom-width-max-content custom-active' : 'nav-link text-white custom-width-max-content'}" href="Report">Reports</a>
                </li>
                <li class="nav-item"><a th:attr="class=${activeNavItem=='administrations' ? 'nav-link text-white custom-width-max-content custom-active' : 'nav-link text-white custom-width-max-content'}" href="Administration">Administration</a>
                </li>
                <li class="nav-item me-3">
                    <a aria-current="page" class="nav-link text-white custom-width-max-content position-relative" href="#"><i class="fa-solid fa-bell"></i>
                        <span class="position-absolute translate-middle badge w-auto rounded-pill start-100 bottom-75 bg-danger small" style="z-index: 1">0<span class="visually-hidden">unread messages</span>
                        </span></a>
                </li>
                <li class="nav-item dropdown-center custom-width-max-content p-0">
                    <button aria-expanded="false" id="btnProfileName"
                            class="nav-link btn bg-steam-green text-capitalize text-white dropdown-toggle custom-width-max-content border-0"
                            data-bs-toggle="dropdown" th:text="${username}">Profile
                    </button>
                    <ul class="dropdown-menu mt-1 dropdown-menu-end rounded-0 mb-0 pb-0">

                        <div class="dropdown-item p-0">
                            <div class="card w-100 p-0 m-0 border-0 rounded-0">
                                <div class="card-body rounded-0">
                                    <div class="d-flex align-items-center justify-content-between gap-3">
                                        <img class="" th:src="${loggedInImage}" width="50px">
                                        <div>
                                            <p class="text-muted small text-small mb-0" th:text="${loggedInEmployeeName}">Employee Name</p>
                                            <p class="text-muted small text-small mb-0"><small th:text="${loggedInDesignationName}">Employee Destination</small></p>
                                        </div>

                                    </div>

                                    <div class="btn btn-sm btn-danger w-75 text-white border-0 text-center mt-3" onclick="logout()">Logout</div>
                                    <div class="btn btn-sm btn-secondary w-25 mt-3" data-bs-toggle="modal" onclick="getLoggedInUser()" data-bs-target="#userAccModal"><i class="fa fa-user-gear"></i></div>
                                </div>

                            </div>
                        </div>
                    </ul>

                </li>


            </ul>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade"
         data-bs-backdrop="static" data-bs-keyboard="false" id="userAccModal"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered rounded-0">
            <div class="modal-content rounded-0">
                <div class="modal-header bg-custom-white">
                    <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0" data-bs-dismiss="modal" type="button"><i class="fas fa-times"></i></button>
                    <div class="container d-flex gap-3 ms-1" style="width: 55%">
                        <button class="btn btn-sm bg-info rounded-0 text-white" onclick="editLoggedInUser()"><i
                                class="fa-regular fa-pen-to-square"></i> Edit Info
                        </button>
                        <button class="btn btn-sm bg-warning rounded-0 text-white" id="loggedInUserUpdateBtn" onclick=""><i
                                class="fa-solid fa-arrows-rotate"></i> Update
                        </button>

                    </div>
                    <h3 class="align-items-center text-nowrap ms-3 mt-2" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Your Account</h3>
                </div>
                <div class="modal-body pb-0">
                    <div class="container-fluid text-end mb-2 px-0 d-flex align-items-center">
                        <div class="text-center w-100">
                            <img th:src="${loggedInImage}" width="150px" id="" class="placeholder-image img-thumbnail rounded-0">
                            <p class="text-muted small mb-0 mt-1">User Account was Created On <span id="loggedInUserTimestamp">2023-11-10</span></p>
                        </div>

                    </div>
                    <table class="table table-bordered table-responsive mb-4">
                        <tbody class="small align-middle">
                        <tr>
                            <td class="fw-bold w-25">Username</td>
                            <td class="w-25">
                                <input class="small rounded-0 form-control-sm loggedInUserInputs" id="loggedInUsername" disabled required >
                                <div class="valid-feedback">Value Accepted</div>
                                <div class="invalid-feedback">Please provide a valid Username</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="fw-bold w-25">Password</td>
                            <td>
                                <input class="small rounded-0 form-control-sm loggedInUserInputs" type="password" id="loggedInPassword" disabled value="******">
                                <div class="valid-feedback">Value Accepted</div>
                                <div class="invalid-feedback">Please provide a valid Password</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="fw-bold w-25">Email</td>
                            <td class="w-25" colspan="3">
                                <input class="small rounded-0 form-control-sm loggedInUserInputs w-100" id="loggedInEmail" disabled required  onkeyup="inputTextValidator(this,'^[A-Z][a-z]{2,19}[ ][A-Z][a-z]{2,29}$','editedEmployee','fullName')">

                            </td>
                        </tr>
                        <tr>
                            <td class="fw-bold w-25">Role</td>
                            <td colspan="3">
                                <input class="small rounded-0 form-control-sm loggedInUserInputs w-100" disabled  id="loggedInRoles">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</nav>