<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: headFragment}"></head>
<body>

<!--Loader Start-->
<div th:replace="~{fragments/loader :: loader}"></div>
<!-- Loader end-->

<!--Navbar start-->
<nav th:replace="~{ fragments/navbar :: navbarFragment}"></nav>
<!--Navbar end-->

<!-- Display Current Page -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Administration Portal</h5>
</div>
<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body rounded-0">
            <img src="/resources/images/administration.png" class="d-block mx-auto" width="30.5%">
        </div>
        <div class="card-footer show rounded-0 pt-3 pb-3">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <a href="/Report/Student-Report" class="text-decoration-none">
                        <div class="card card-body rounded-0 h-100 pointer text-muted dashboard-widget-yellow">
                            <div class="row h-100">
                                <div class="col-3 d-flex align-items-center justify-content-center">
                                    <div class="d-flex align-items-center justify-content-center" style="border-radius: 50%;height: 60px;width: 60px;background: #fff7e5">
                                        <i class="fa-solid fa-user-graduate" style="color:#FDE74C;font-size: 25px" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-9 lh-1 d-flex align-items-center justify-content-center">
                                    <div class="lh-1">
                                        <span class="text-uppercase">Student Report</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-12">
                    <a class="text-decoration-none" href="Employee">
                        <div class="card card-body rounded-0 h-100 text-muted pointer dashboard-widget-yellow">
                            <div class="row h-100">
                                <div class="col-3 d-flex align-items-center justify-content-center">
                                    <div class="d-flex align-items-center justify-content-center"
                                         style="border-radius: 50%;height: 60px;width: 60px;background: #fff7e5">
                                        <i class="fa-solid fa-user-tie" style="color:#FDE74C;font-size: 25px"
                                           aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-9 d-flex align-items-center justify-content-around">
                                    <span class="text-uppercase">Manage Employees</span>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-12">
                    <a class="text-decoration-none" href="User">
                        <div class="card card-body rounded-0 h-100 pointer text-muted dashboard-widget-yellow">
                            <div class="row h-100">
                                <div class="col-3 d-flex align-items-center justify-content-center">
                                    <div class="d-flex align-items-center justify-content-center"
                                         style="border-radius: 50%;height: 60px;width: 60px;background: #fff7e5">
                                        <i class="fa-solid fa-users" style="color:#FDE74C;font-size: 25px"
                                           aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-9 lh-1 d-flex align-items-center justify-content-center">
                                    <div class="lh-1">
                                        <span class="text-uppercase">Manage Users</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-12">
                    <a class="text-decoration-none" href="Privilege">
                        <div class="card card-body rounded-0 h-100 pointer text-muted dashboard-widget-yellow" >
                            <div class="row h-100">
                                <div class="col-3 d-flex align-items-center justify-content-center">
                                    <div class="d-flex align-items-center justify-content-center"
                                         style="border-radius: 50%;height: 60px;width: 60px;background: #fff7e5">
                                        <i class="fa-solid fa-user-lock" style="color:#FDE74C;font-size: 25px" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-9 d-flex align-items-center justify-content-around">
                                    <span class="text-uppercase">Manage Privileges</span>

                                </div>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/resources/js/external-loader.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script th:replace="~{ fragments/logout :: logoutScript}"></script>
</body>
</html>