<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: headFragment}"></head>

<body>
<!--Navbar start-->
<nav th:replace="~{ fragments/navbar :: navbarFragment}"></nav>
<!--Navbar end-->

<!-- Display Current Page -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Mark Attendance</h5>
</div>

<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body rounded-0">
            <div class="row align-items-center d-flex justify-content-around">
                <div class="col-12 col-lg-4 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1">
                    <label class="text-uppercase small m-0 p-0 text-muted" for="registrationSearchID">Search</label>
                    <div class="input-group">
              <span class="input-group-text bg-custom-white rounded-0"><i
                      class="fa-solid fa-magnifying-glass"></i></span>
                        <input class="form-control rounded-0" id="registrationSearchID" placeholder="Scan Student ID or Enter Reg Number"
                               autocomplete="off" />
                        <div class="d-flex align-items-center justify-content-evenly">
                            <button class="btn bg-steam-green rounded-0 text-white" id="batchSearchButton" onclick="searchRegistration()"
                                    type="button">
                                <i class="fa-solid fa-magnifying-glass small"></i>
                            </button>
                            <button class="btn btn-close-red rounded-0 text-white ms-3" id="batchSearchReset"
                                    onclick="registrationSearchReset()" type="reset">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1 text-end">
                    <!-- <p class="text-uppercase small m-0 p-0 text-muted">Create a New Batch</p>
                            <button aria-controls="staticBackdrop"
                                    class="btn pointer bg-steam-green text-white rounded-0 text-end"
                                    data-bs-target="#offCanvasBatch" data-bs-toggle="offcanvas"><i
                                    class="fa-solid fa-plus"></i> Batch
                            </button> -->
                </div>
            </div>
        </div>
        <div class="card-footer show rounded-0">
            <div class="row">
                <div class="col-lg-6 col-12 px-1">
                    <div class="card rounded-0" >
                        <div class="card-body">
                            <p class="pb-0 card-title" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Registration Info</p>

                            <div class="container border d-flex p-3 mb-2" id="placeholderRegistration">
                                <div class="w-75 ">
                                    <span class="text-muted small ">No Result</span>
                                    <p class="mb-0">Please Search Registration Using Registration Number</p>
                                </div>
                                <div class="w-25 text-end">
                                    <span class="text-muted small"></span>
                                    <h5 class="mb-0"></h5>
                                </div>
                            </div>

                            <div id="searchResultRegistration" class="d-none">
                            <div class="container border d-flex p-3">
                                <div class="w-25">
                                    <p class="mb-0" id="searchResultStudentName">Mr E.A.S Malhiru</p>
                                </div>
                                <div class="w-50 text-center">
                                    <p class="mb-0" id="searchResultStatus">
                                        <span class="badge rounded-0 w-25" style="background: #3FB618">Active</span>
                                    </p>
                                </div>
                                <div class="w-25 text-end">
                                    <p class="mb-0" id="searchResultRegistrationNumber">00001</p>
                                </div>
                            </div>
                            <div class="container px-0 gap-2 d-flex mt-2">
                                <div class="w-50 border p-3 text-center d-flex align-items-center justify-content-center">
                                    <div>
                                        <p class="mb-1 fw-semibold" id="searchResultCourse">Diploma in IT</p>
                                        <p class="mb-0" id="searchResultBatch">2024-DIT-1</p>
                                        <p class="mb-0" id="searchResultLocation">Lecture Room 1, First Floor</p>
                                        <p class="mb-0" id="searchResultSchedule">08:00 to 15:00</p>
                                    </div>
                                </div>
                                <div class="w-50 border p-3 text-center">
                                    <p class="text-center mb-1 fw-semibold">Payment Summary</p>
                                    <p class="mb-0" >Outstanding Balance : <span id="searchResultOutstanding">Rs. 5,000.00</span></p>
                                    <p class="mb-0" >Due Balance : <span id="searchResultDue">Rs. 5,000.00</span></p>
                                    <p class="mb-0" >Payment Type : <span id="searchResultPaymentType">Installments</span></p>
                                </div>
                            </div>
                            <div class="container border d-flex p-3 mt-2">
                                <div class="w-75 ">
                                    <p class="mb-0">Exam is Scheduled for today</p>
                                </div>
                                <div class="w-25 text-end">
                                    <p class="mb-0">ST-0001</p>
                                </div>
                            </div>
                            <button class="btn btn-sm btn-success rounded-0 d-block mx-auto mt-2" onclick="addAttendance()"><i class="fa-solid fa-plus"></i> Mark</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-lg-0 mt-2 px-1">
                    <div class="card rounded-0">
                        <div class="card-body">
                            <p class="pb-0 card-title" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Batches Conducting Today</p>

                            <div class="container border d-flex p-3 mb-2" id="placeholderBatches">
                                <div class="w-75 ">
                                    <span class="text-muted small ">No Classes</span>
                                    <p class="mb-0">No Batches Are Being Conducted Today</p>
                                </div>
                                <div class="w-25 text-end">
                                    <span class="text-muted small"></span>
                                    <h5 class="mb-0"></h5>
                                </div>
                            </div>
                            <div id="batchesTodayContainer">

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/attendance.js"></script>
<script th:replace="~{ fragments/logout :: logoutScript}"></script>
</body>


</html>
