<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <title>Manage Batches | STEAM RMS</title>
    <!-- Favicon Icon -->
    <link href="/resources/images/favicon.ico" rel="icon" type="image/x-icon">
    <!-- Bootstrap CSS File-->
    <link href="/resources/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Jquery Js File -->
    <script src="/resources/jquery/jquery.min.js"></script>
    <!-- Boostrap Js File -->
    <script src="/resources/bootstrap-5.2.3/js/bootstrap.bundle.js"></script>
    <!-- Fontawesome Js Plug-in -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/07941f149f.js"></script>
    <!-- DateRangePicker Library -->
    <script src="/resources/daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="/resources/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <link href="/resources/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>
    <!-- Chosen Library-->
    <script src="/resources/chosen-1.8.7/chosen.jquery.min.js" type="text/javascript"></script>
    <link href="/resources/chosen-1.8.7/chosen.min.css" rel="stylesheet" type="text/css">
    <!--Link dataTable files -->
    <link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>

    <!-- Custom CSS File-->
    <link href="/resources/css/customRMS.css" rel="stylesheet">
    <style>
        fieldset, legend {
            all: revert;
        }

        fieldset {
            border-color: #ccc;
            border-style: solid;
        }
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
            color: black;
            background-color: #f3f3f3;
        }
        .nav-link{
            color: black;
        }
    </style>

</head>
<body>
<!--Navbar start-->
<nav class="navbar navbar-expand-lg bg-steam-green p-1">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="Dashboard"><span class="text-uppercase fw-semibold">RMS</span> : : STEAM</a>
        <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarText" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon" style="filter: invert(100%)"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <!-- Navbar left side (Default)-->
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="New-Registration">New Registration</a>
                </li>
            </ul>
            <!-- Navbar Right side -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="Inquiries">Registrations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="Schedules">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content custom-active" href="Batch">Batches</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white custom-width-max-content" href="Administrations">Administration</a>
                </li>
                <li class="nav-item dropdown-center custom-width-max-content p-0">
                    <button aria-expanded="false"
                            class="nav-link btn text-white dropdown-toggle custom-width-max-content border-0"
                            data-bs-toggle="dropdown">Profile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end rounded-0">
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link text-white custom-width-max-content" href="#"><i class="fa-solid fa-bell" aria-hidden="true"></i></a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!--Navbar end-->

<!-- Display Current Page -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Manage Batches</h5>
</div>

<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body rounded-0">
            <div class="row align-items-center d-flex justify-content-around">
                <div class="col-12 col-lg-4 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1">

                    <label class="text-uppercase small m-0 p-0 text-muted" for="userSearchID">Search</label>
                    <div class="input-group">
                        <span class="input-group-text bg-custom-white rounded-0"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                        <input class="form-control rounded-0" id="userSearchID"
                               placeholder="Employee ID, Mobile Number or NIC">
                        <div class="d-flex align-items-center justify-content-evenly">
                            <button class="btn bg-steam-green rounded-0 text-white" id="" type="submit"><i
                                    class="fa-solid fa-magnifying-glass small"></i></button>
                            <button class="btn btn-close-red rounded-0 text-white ms-3" id="btn-reset" type="reset"><i
                                    class="fa-solid fa-xmark"></i></button>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-7 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1 text-end">
                    <p class="text-uppercase small m-0 p-0 text-muted">Create a New Batch</p>
                    <button aria-controls="staticBackdrop" class="btn pointer bg-steam-green text-white rounded-0 text-end"
                            data-bs-target="#offCanvasBatch" data-bs-toggle="offcanvas"><i
                            class="fa-solid fa-plus"></i> Batch
                    </button>
                </div>

            </div>
        </div>
        <div class="card-footer show pt-4 pb-4">
            <h4 class="text-center fw-bold"
                style="font-family: Arial,serif;text-transform: uppercase;font-size: medium">Search Batch Info /
                <small class="text-muted">No records</small></h4>

            <table class="custom-table" id="tblBatch">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Course</th>
                    <th>Batch Code</th>
                    <th>Commence Date</th>
                    <th>End Date</th>
                    <th>WeekDay / WeekEnd</th>
                    <th>Seat Count</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!-- Ajax loader start-->
            <div class="loading-overlay mt-2">
                <img src="/resources/images/loader.svg" width="60px" alt="loading animation">
            </div>
            <!-- Ajax loader end-->
        </div>


    </div>
</div>
<!-- Off canvas for batch add start-->
<div aria-labelledby="staticBackdropLabel" class="offcanvas offcanvas-end" data-bs-backdrop="static" id="offCanvasBatch"
     tabindex="-1">
    <div class="offcanvas-header bg-light">
        <div>
            <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0" data-bs-dismiss="offcanvas"
                    type="button" id="offCanvasBatchCloseButton"><i class="fas fa-times"></i></button>
            <button class="btn btn-sm bg-secondary text-white rounded-0" type="button" onclick=""><i class="fas fa-refresh"></i>
            </button>
        </div>
        <h3 class="float-end" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">New Batch</h3>
    </div>
    <div class="offcanvas-body">
        <div class="card border-0">
            <div class="card-body border-0">
                <form onsubmit="return false" id="frmNewBatch">
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchCourse">Course</label>
                        </div>
                        <select class="form-select rounded-0" id="batchCourse" data-placeholder="Please Select a Course" required onchange="selectDynamicValueValidator(this,'','newBatch','courseID')">
                            <option>Dynamic Value 1</option>
                            <option>Dynamic Value 2</option>
                            <option>Dynamic Value 3</option>
                            <option>Dynamic Value 4</option>
                        </select>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Course</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchCode">Batch Code</label>
                        </div>
                        <input class="form-control rounded-0 newBatchInputs" id="batchCode" required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Batch Code</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchCommenceDate">Commence Date</label>
                        </div>
                        <input class="form-control rounded-0 newBatchInputs" id="batchCommenceDate" onchange="inputTextValidator(this,'^20[0-9]{2}[-][0-9]{2}[-][0-9]{2}$','newBatch','commenceDate')" required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Date</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchEndDate">End Date</label>
                        </div>
                        <input class="form-control rounded-0 newBatchInputs" id="batchEndDate" onchange="inputTextValidator(this,'^20[0-9]{2}[-][0-9]{2}[-][0-9]{2}$','newBatch','endDate')" required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Date</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchSeat">Seat Count</label>
                        </div>
                        <input class="form-control rounded-0 newBatchInputs" id="batchSeat" onkeyup="inputTextValidator(this,'^[0-9]{2}$','newBatch','seatCount')" required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Seat Count</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchWeekday">Weekday / Weekend</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="text-center">
                                <div class="d-flex align-items-center justify-content-center mx-auto bg-success text-white" id="leftWeekday"
                                     style="border-radius: 50%;height: 40px;width: 40px;background:#ddd">
                                    <i class="fa-solid fa-calendar-week"></i>
                                </div>
                                <span class="text-muted small">Weekday</span>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input newBatchInputs" id="batchWeekday" role="switch" style="scale: 1.7;"
                                       type="checkbox" onchange="checkBoxValidator(this, leftWeekday, rightWeekday, 'newBatch', 'isWeekday', true, false);">
                            </div>
                            <div class="text-center">
                                <div class="d-flex align-items-center justify-content-center mx-auto" id="rightWeekday"
                                     style="border-radius: 50%;height: 40px;width: 40px;background:#ddd">
                                    <i class="fa-solid fa-calendar-day"></i>
                                </div>
                                <span class="text-muted small">Weekend</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">
                            <label class="fw-bold required small" for="batchDescription">Description</label>
                        </div>
                        <textarea class="rounded-0 form-control" cols="80" id="batchDescription" required="" rows="4"></textarea>
                        <div class="text-muted small"><small> a short description which will be useful for the
                            counsellor who will be handling this inquiry</small></div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchRegistrationFee">Registration Fee (Rs.)</label>
                        </div>
                        <input class="form-control rounded-0 newBatchInputs" id="batchRegistrationFee" onkeyup="inputTextValidator(this,'^[0-9]{4}$','newBatch','registrationFee')" required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Registration Fee</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchCourseFee">Course Fee (Rs.)</label>
                        </div>
                        <input class="form-control rounded-0 newBatchInputs" id="batchCourseFee" onkeyup="inputTextValidator(this,'^[0-9]{5}$','newBatch','courseFee')" required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Course Fee</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchTotalFee">Total Fee (Rs.)</label>
                        </div>
                        <input class="form-control rounded-0 newBatchInputs" id="batchTotalFee" required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Total Fee</div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchNumberofInstallments">Number of Installments</label>
                        </div>
                        <input class="form-control rounded-0 newBatchInputs" id="batchNumberofInstallments" required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Number of Installments</div>
                    </div>
                    <div class="mb-2">
                        <button class="btn bg-steam-green text-white rounded-0 btn-block w-100" id="batchConfirm" type="submit" >Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Off canvas for batch add end-->

<!-- Off canvas for batch details start-->
<div aria-labelledby="offcanvasRightLabel" class="offcanvas offcanvas-end w-50" data-bs-backdrop="static"
     id="offcanvasBatchSheet" tabindex="-1">
    <div class="offcanvas-header bg-light">
        <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0" id="offCanvasBatchSheetCloseButton" data-bs-dismiss="offcanvas"
                type="button"><i class="fas fa-times"></i></button>
        <div class="container d-flex gap-3 ms-1" style="width: 55%">
            <button class="btn btn-sm bg-info rounded-0 text-white" onclick=""><i class="fa-regular fa-pen-to-square"></i> Edit Info </button>
            <button class="btn btn-sm bg-warning rounded-0 text-white" id="btnBatchSheetUpdate" onclick=""><i class="fa-solid fa-arrows-rotate"></i> Update </button>
            <button class="btn btn-sm bg-danger rounded-0 text-white"  onclick=""><i class="fa-solid fa-trash"></i> Delete </button>
        </div>
        <h3 class="align-items-center text-nowrap ms-3 mt-2" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Batch Details</h3>
    </div>
    <div class="offcanvas-body">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item w-50" role="presentation">
                <button class="nav-link w-100 active rounded-0 " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="text-info fa-solid fa-circle-info"></i> Info</button>
            </li>
            <li class="nav-item w-50" role="presentation">
                <button class="nav-link w-100 rounded-0" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-registration" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="text-success fa-solid fa-graduation-cap"></i> Registrations</button>
            </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                <div class="card rounded-0 mt-0 border-0">
                    <div class="card-body rounded-0 border-0">
                        Basic Info
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-registration" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                <div class="card rounded-0 mt-0">
                    <div class="card-body rounded-0">
                        Registrations
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Off canvas for batch details end-->


<script src="/resources/js/external-validator.js" type="text/javascript"></script>
<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/batch.js"></script>
</body>
</html>