<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <title>Manage Batches | STEAM RMS</title>
    <!-- Favicon Icon -->
    <link href="/resources/images/favicon.ico?v1" rel="icon" type="image/x-icon">
    <!-- Bootstrap CSS File-->
    <link href="/resources/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Jquery Js File -->
    <script src="/resources/jquery/jquery.min.js"></script>
    <!-- Boostrap Js File -->
    <script src="/resources/bootstrap-5.2.3/js/bootstrap.bundle.js"></script>
    <!-- Fontawesome css -->
    <link href="/resources/fontawesome-6.4.2/css/all.min.css" rel="stylesheet">
    <!-- DateRangePicker Library -->
    <script src="/resources/daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="/resources/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <link href="/resources/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>
    <!-- Chosen Library-->
    <script src="/resources/chosen-1.8.7/chosen.jquery.min.js" type="text/javascript"></script>
    <link href="/resources/chosen-1.8.7/chosen.min.css" rel="stylesheet" type="text/css">
    <!--Link dataTable files -->
    <link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>

    <!-- Custom CSS File-->
    <link href="/resources/css/customRMS.css" rel="stylesheet">
    <style>
        fieldset, legend {
            all: revert;
        }

        fieldset {
            border-color: #ccc;
            border-style: solid;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background-color: white;
        }

        #pills-home-tab.nav-link.active {
            color: #19459D!important;
            border-bottom: 3px solid#19459D!important;
        }
        #pills-course-tab.nav-link.active {
            color: red!important;
            border-bottom: 3px solid red!important;
        }

        .nav-link {
            color: black;
        }


    </style>

</head>
<body>
<!--Navbar start-->
<nav class="navbar navbar-expand-lg bg-steam-green p-1">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="Dashboard"><span class="text-uppercase fw-semibold">RMS</span> : :
            STEAM</a>
        <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarText" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon" style="filter: invert(100%)"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <!-- Navbar left side (Default)-->
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="New-Registration">New Registration</a>
                </li>
            </ul>
            <!-- Navbar Right side -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="Registration">Registrations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="Course">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content custom-active" href="Batch">Batches</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white custom-width-max-content" href="Administrations">Administration</a>
                </li>
                <li class="nav-item dropdown-center custom-width-max-content p-0">
                    <button aria-expanded="false"
                            class="nav-link btn text-white dropdown-toggle custom-width-max-content border-0"
                            data-bs-toggle="dropdown">Profile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end rounded-0">
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown-center custom-width-max-content p-0">
                    <button aria-expanded="false"
                            class="nav-link btn bg-steam-green text-white dropdown-toggle custom-width-max-content border-0"
                            data-bs-toggle="dropdown" th:text="${username}">Profile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end rounded-0 mb-0">

                        <div class="dropdown-item p-0">
                            <div class="card w-100 p-0 m-0 border-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between gap-4">
                                        <img class="" src="https://emc.sgp1.digitaloceanspaces.com/uploads/hris/employees/photos/1556/1556.jpeg" width="50px">
                                        <span class="text-muted small text-small"><small>Student Counsellar</small></span>
                                    </div>
                                </div>
                                <div class="card-footer bg-custom-white border-0 text-center mb-0 show">Logout</div>
                            </div>
                        </div>
                    </ul>

                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link text-white custom-width-max-content" href="#"><i
                            aria-hidden="true" class="fa-solid fa-bell"></i></a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!--Navbar end-->

<!-- Display Current Page -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Manage Batches</h5>
</div>

<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body rounded-0">
            <div class="row align-items-center d-flex justify-content-around">
                <div class="col-12 col-lg-4 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1">

                    <label class="text-uppercase small m-0 p-0 text-muted" for="batchSearchID">Search</label>
                    <div class="input-group">
                        <span class="input-group-text bg-custom-white rounded-0"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                        <input class="form-control rounded-0" id="batchSearchID"
                               placeholder="Batch Code">
                        <div class="d-flex align-items-center justify-content-evenly">
                            <button class="btn bg-steam-green rounded-0 text-white" id="batchSearchButton" onclick="batchSearch()" type="button"><i
                                    class="fa-solid fa-magnifying-glass small"></i></button>
                            <button class="btn btn-close-red rounded-0 text-white ms-3" id="batchSearchReset" onclick="batchSearchReset()" type="reset"><i
                                    class="fa-solid fa-xmark"></i></button>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-7 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1 text-end">
                    <p class="text-uppercase small m-0 p-0 text-muted">Create a New Batch</p>
                    <button aria-controls="staticBackdrop"
                            class="btn pointer bg-steam-green text-white rounded-0 text-end"
                            data-bs-target="#offCanvasBatch" data-bs-toggle="offcanvas"><i
                            class="fa-solid fa-plus"></i> Batch
                    </button>
                </div>

            </div>
        </div>
        <div class="card-footer show pt-4 pb-4">
            <h4 class="text-center fw-bold"
                style="font-family: Arial,serif;text-transform: uppercase;font-size: medium">Search Batch Info /
                <small class="text-muted">No records</small></h4>

            <table class="custom-table" id="tblBatch">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Course</th>
                    <th>Batch Code</th>
                    <th>Commence Date</th>
                    <th>End Date</th>
                    <th>WeekDay / WeekEnd</th>
                    <th>Seat Count</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!-- Ajax loader start-->
            <div class="loading-overlay mt-2">
                <img alt="loading animation" src="/resources/images/loader.svg" width="60px">
            </div>
            <!-- Ajax loader end-->
        </div>


    </div>
</div>

<!-- Off canvas for batch add start-->
<div aria-labelledby="staticBackdropLabel" class="offcanvas offcanvas-end" data-bs-backdrop="static" id="offCanvasBatch"
     tabindex="-1">
    <div class="offcanvas-header bg-custom-white">
        <div>
            <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0" data-bs-dismiss="offcanvas"
                    id="offCanvasBatchCloseButton" type="button"><i class="fas fa-times"></i></button>
            <button class="btn btn-sm bg-secondary text-white rounded-0" onclick="resetBatchForm()" type="button"><i
                    class="fas fa-refresh"></i>
            </button>
        </div>
        <h3 class="float-end mt-2"
            style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">New
            Batch</h3>
    </div>
    <div class="offcanvas-body">
        <div class="card border-0">
            <div class="card-body border-0">
                <form id="frmNewBatch" onsubmit="return false">
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchCourse">Course</label>
                        </div>
                        <select class="form-select rounded-0" data-placeholder="Please Select a Course" id="batchCourse"
                                onchange="selectDynamicValueValidator(this,'','newBatch','courseID');fillPaymentPlan()" required>
                            <option>Dynamic Value 1</option>
                            <option>Dynamic Value 2</option>
                            <option>Dynamic Value 3</option>
                            <option>Dynamic Value 4</option>
                        </select>
                        <div class="text-muted small"><small>After the creation of a batch, the course associated with it cannot be changed</small></div>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Course</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchCommenceDate">Commence Date</label>
                        </div>
                        <input class="form-control rounded-0 newBatchInputs" id="batchCommenceDate" required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Date</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchEndDate">End Date</label>
                        </div>
                        <input class="form-control rounded-0 newBatchInputs" id="batchEndDate"
                               onchange="inputTextValidator(this,'^20[0-9]{2}[-][0-9]{2}[-][0-9]{2}$','newBatch','endDate')"
                               required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Date</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchLastRedDate">Last Registration Date</label>
                        </div>
                        <input class="form-control rounded-0 newBatchInputs" id="batchLastRedDate"
                               onchange="inputTextValidator(this,'^20[0-9]{2}[-][0-9]{2}[-][0-9]{2}$','newBatch','lastRegDate')"
                               required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Date</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchSeat">Seat Count</label>
                        </div>
                        <input class="form-control rounded-0 newBatchInputs" id="batchSeat"
                               onkeyup="inputTextValidator(this,'^[0-9]{2}$','newBatch','seatCount')" required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Seat Count</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchWeekday">Delivery Mode</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="text-center">
                                <div class="d-flex align-items-center justify-content-center mx-auto bg-success text-white"
                                     id="leftWeekday"
                                     style="border-radius: 50%;height: 40px;width: 40px;background:#ddd">
                                    <i class="fa-solid fa-calendar-week"></i>
                                </div>
                                <span class="text-muted small">Weekday</span>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" id="batchWeekday" onchange="checkBoxValidator(this, leftWeekday, rightWeekday, 'newBatch', 'isWeekday', false, true);" role="switch"
                                       style="scale: 1.7;"
                                       type="checkbox">
                            </div>
                            <div class="text-center">
                                <div class="d-flex align-items-center justify-content-center mx-auto" id="rightWeekday"
                                     style="border-radius: 50%;height: 40px;width: 40px;background:#ddd">
                                    <i class="fa-solid fa-calendar-day"></i>
                                </div>
                                <span class="text-muted small">Weekend</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">
                            <label class="fw-bold required small" for="batchDescription">Description</label>
                        </div>
                        <textarea class="rounded-0 form-control newBatchInputs" cols="80" id="batchDescription"
                                  onkeyup="inputTextValidator(this,'^[a-zA-Z0-9\\s/]{10,}$','newBatch','description')"
                                  required=""
                                  rows="4"></textarea>
                        <div class="text-muted small"><small> a short description about the batch<br>example: <strong>2024
                            After A/L Students</strong></small></div>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Description</div>
                    </div>
                    <div class="mb-4">
                        <div class="form-label">
                            <label class="fw-bold small required" for="batchPaymentPlan">Payment Plan</label>
                        </div>
                        <div class="input-group mb-2">
                            <select class="form-select rounded-0" data-placeholder="Please Select a Payment Plan" id="batchPaymentPlan" onchange="selectDynamicValueValidator(this,'','newBatch','paymentPlanID');showPaymentPlan()" required>
                                <option>Dynamic Value 1</option>
                                <option>Dynamic Value 2</option>
                                <option>Dynamic Value 3</option>
                                <option>Dynamic Value 4</option>
                            </select>
                            <button class="btn btn-sm btn-success rounded-0" type="button" data-bs-toggle="modal" data-bs-target="#modalPaymentPlan"><i class="fa-solid fa-plus"></i> Add</button>
                            <div class="text-muted small"><small>Payment plan cannot be changed later</small></div>

                            <div class="valid-feedback rounded-2">Value Accepted</div>
                            <div class="invalid-feedback rounded-2">Please provide a valid Payment Plan</div>
                        </div>
                        <table class="table table-sm table-bordered small mb-0">
                            <tr>
                                <th>Registration Fee</th>
                                <td class="text-end" id="paymentPlanRegistrationFee"></td>
                            </tr>
                            <tr>
                                <th>Course Fee</th>
                                <td class="text-end" id="paymentPlanCourseFee"></td>
                            </tr>
                            <tr>
                                <th>Total Fee</th>
                                <td class="text-end" id="paymentPlanTotalFee"></td>
                            </tr>
                            <tr>
                                <th>Num Of Installments</th>
                                <td class="text-end" id="paymentPlanInstallments"></td>
                            </tr>
                        </table>
                        <div class="text-muted small">
                            <small> Existing Payment plan can be edited. If you want to create a new Payment Plan click "+ Add".
                                </small>
                        </div>
                    </div>

                    <!-- class schedule start-->
                    <div class="mb-5 border p-1 bg-light text-center">
                        <p class="fw-bold mb-1 form-label">Add Class Schedule</p>
                        <button aria-controls="staticBackdrop"
                                class="btn pointer bg-success btn-sm mb-1 text-white rounded-0 text-end"
                                data-bs-target="#offCanvasTimeTable" data-bs-toggle="offcanvas"><i
                                class="fa-solid fa-plus"></i> Add
                        </button>
                        <div class="text-muted small">
                            <small>Click "+ Add" to add the timetable for the batch</small></div>
                        <table class="table table-sm table-bordered small mb-0 mt-2 d-none" id="tblTimetable">
                            <thead>
                            <tr>
                                <th>Day</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Lecture Room</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- class schedule end-->


                    <div class="mb-0">
                        <button class="btn bg-steam-green text-white rounded-0 btn-block w-100" id="batchConfirm"
                                onclick="newBatchSubmit()" type="submit">Confirm
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Off canvas for batch add end-->

<!-- Off canvas for batch details start-->
<div aria-labelledby="offcanvasRightLabel" class="offcanvas offcanvas-end w-50" data-bs-backdrop="static"
     id="offcanvasBatchSheet" tabindex="-1">
    <div class="offcanvas-header bg-custom-white">
        <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0"
                data-bs-dismiss="offcanvas" id="offCanvasBatchSheetCloseButton"
                type="button"><i class="fas fa-times"></i></button>
        <div class="container d-flex gap-3 ms-1" style="width: 55%">
            <button class="btn btn-sm bg-info rounded-0 text-white" onclick="batchEdit()"><i
                    class="fa-regular fa-pen-to-square"></i> Edit Info
            </button>
            <button class="btn btn-sm bg-warning rounded-0 text-white" id="btnBatchSheetUpdate" onclick="batchUpdate()"><i
                    class="fa-solid fa-arrows-rotate"></i> Update
            </button>
            <button class="btn btn-sm bg-danger rounded-0 text-white" id="btnBatchSheetDelete" onclick="batchDelete()"><i class="fa-solid fa-trash"></i>
                Delete
            </button>
        </div>
        <h3 class="align-items-center text-nowrap ms-3 mt-2"
            style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Batch
            Details</h3>
    </div>
    <div class="offcanvas-body">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation" style="width: 50%">
                <button aria-controls="pills-home" aria-selected="true" class="nav-link w-100 active rounded-0 border-1 border border-grey text-muted"
                        data-bs-target="#pills-info" data-bs-toggle="pill" id="pills-home-tab" role="tab"
                        type="button"><i class="fa-solid fa-circle-info"></i> Info
                </button>
            </li>
            <li class="nav-item" role="presentation" style="width: 50%">
                <button aria-controls="pills-profile" aria-selected="false" class="nav-link w-100 rounded-0 bg-custom-white border-1 border border-grey text-muted"
                        data-bs-target="#pills-registration" data-bs-toggle="pill" id="pills-course-tab" role="tab"
                        type="button"><i class="fa-solid fa-graduation-cap"></i> Registrations
                </button>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div aria-labelledby="pills-home-tab" class="tab-pane fade show active" id="pills-info" role="tabpanel"
                 tabindex="0">
                <div class="card rounded-0 mt-0 border-0 border-start border-end border-bottom">
                    <div class="card-body rounded-0 border-0 p-0">
                        <div class="text-center w-75 mx-auto mt-3">
                            <span class="align-items-center display-3" id="batchSheetCode" style="text-transform: uppercase;font-weight: bold;font-family: Arial, serif;">2024-DiT-1</span>
                            <p class="text-muted small lh-sm">Created On <span id="batchSheetJoinedDateText">2023-11-10</span></p>
                        </div>
                        <table class="table table-bordered table-responsive mx-2" style="width: 98%">
                            <tbody class="small align-middle">
                            <tr>
                                <td class="fw-bold w-25">Course</td>
                                <td>
                                    <select class="form-select rounded-0 small form-select-sm border-0" id="batchSheetCourse" disabled >

                                    </select>
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid Calling Name</div>
                                </td>
                                <td class="fw-bold w-25">Created By</td>
                                <td>
                                    <input class="small rounded-0 form-control-sm border-0 text-black" id="batchSheetCreated" disabled >
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid Calling Name</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold w-25">Commence Date</td>
                                <td class="w-25">
                                    <input class="small rounded-0 form-control-sm batchSheetInputs" id="batchSheetCommenceDate" disabled required>
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid NIC</div>
                                </td>
                                <td class="fw-bold w-25">End Date</td>
                                <td>
                                    <input class="small rounded-0 form-control-sm batchSheetInputs" id="batchSheetEndDate" disabled required >
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid DOB</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold w-25">Seat Count</td>
                                <td class="w-25">
                                    <input class="small rounded-0 form-control-sm batchSheetInputs" id="batchSheetSeatCount" onkeyup="inputTextValidator(this,'^[0-9]{2}$','editedBatch','seatCount')" disabled required>
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid Seat Count</div>
                                </td>
                                <td class="fw-bold w-25">Last Registration Date</td>
                                <td>
                                    <input class="small rounded-0 form-control-sm batchSheetInputs" id="batchSheetLastDate" disabled required>
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid Email</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold w-25">Description</td>
                                <td class="" colspan="">
                                    <input class="small rounded-0 form-control-sm w-100 batchSheetInputs" id="batchSheetDescription" onkeyup="inputTextValidator(this,'^[a-zA-Z0-9\\s/]{10,}$','editedBatch','description')" disabled required>
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid Address</div>
                                </td>
                                <td class="fw-bold w-25">Status</td>
                                <td class="" colspan="">
                                    <select class="batchSheetInputs form-select rounded-0 small form-select-sm" id="batchSheetStatus" onchange="selectDynamicValueValidator(this,'','editedBatch','batchStatusID')" disabled required style="background: whitesmoke"></select>
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid Address</div>
                                </td>

                            </tr>
                            <tr>
                                <td class="fw-bold w-25">Payment Plan</td>
                                <td colspan="1">
                                    <select class="batchSheetInputs form-select rounded-0 small form-select-sm px-0 ps-2" id="batchSheetPaymentPlan" onchange="selectDynamicValueValidator(this,'','editedBatch','paymentPlanID')" disabled style="background: whitesmoke">

                                    </select>
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid Calling Name</div>
                                </td>
                                <td class="fw-bold w-25">Delivery Mode</td>
                                <td colspan="1">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="text-center">
                                            <div class="d-flex align-items-center justify-content-center mx-auto bg-success text-white"
                                                 id="leftWeekdaySheet"
                                                 style="border-radius: 50%;height: 30px;width: 30px;background:#ddd">
                                                <i class="fa-solid fa-calendar-week"></i>
                                            </div>
                                            <span class="text-muted small">Weekday</span>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" id="batchSheetWeekday" onchange="checkBoxValidator(this, leftWeekdaySheet, rightWeekdaySheet, 'editedBatch', 'isWeekday', false, true);" role="switch"
                                                   style="scale: 1.5;"
                                                   type="checkbox" disabled required>
                                        </div>
                                        <div class="text-center">
                                            <div class="d-flex align-items-center justify-content-center mx-auto" id="rightWeekdaySheet"
                                                 style="border-radius: 50%;height: 30px;width: 30px;background:#ddd">
                                                <i class="fa-solid fa-calendar-day"></i>
                                            </div>
                                            <span class="text-muted small">Weekend</span>
                                        </div>
                                    </div>
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid Calling Name</div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="d-flex gap-2 mx-2 mb-2">
                        <div class="w-50">
                        <table class="table table-sm table-bordered small mb-0">
                            <tbody><tr>
                                <th>Registration Fee</th>
                                <td class="text-end" id="batchSheetPaymentPlanRegistrationFee"></td>
                            </tr>
                            <tr>
                                <th>Course Fee</th>
                                <td class="text-end" id="batchSheetPaymentPlanCourseFee"></td>
                            </tr>
                            <tr>
                                <th>Total Fee</th>
                                <td class="text-end" id="batchSheetPaymentPlanTotalFee"></td>
                            </tr>
                            <tr>
                                <th>Num Of Installments</th>
                                <td class="text-end" id="batchSheetPaymentPlanInstallments"></td>
                            </tr>
                            </tbody></table>
                        </div>
                        <div class="w-50">
                            <table class="table table-sm table-bordered small">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Room</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-labelledby="pills-profile-tab" class="tab-pane fade" id="pills-registration" role="tabpanel"
                 tabindex="0">
                <div class="card rounded-0 mt-0 border-0 border-start border-end border-bottom">
                    <div class="card-body rounded-0 border-0 p-0">
                        <p class="mt-2 ps-2" >Total Registrations : <span id="registrationCount"></span></p>
                        <table class="custom-table" id="tblRegistrations">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Reg Number</th>
                                <th>Student Name</th>
                                <th>Contact Number</th>
                                <th>Reg Status</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>001</td>
                                    <td>Malindu Prabodhita</td>
                                    <td>0705368016</td>
                                    <td>Active</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>002</td>
                                    <td>Malindu Prabodhita</td>
                                    <td>0705368016</td>
                                    <td>Active</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Off canvas for batch details end-->

<!-- Off canvas for Time table start-->
<div aria-labelledby="staticBackdropLabel" class="offcanvas offcanvas-end" data-bs-backdrop="static" id="offCanvasTimeTable"
     tabindex="-1">
    <div class="offcanvas-header bg-custom-white">
        <div>
            <button class="btn btn-sm bg-secondary text-white rounded-0" type="button"><i
                    class="fas fa-refresh"></i>
            </button>
        </div>
        <h3 class="float-end" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">New Class Schedule</h3>
    </div>
    <div class="offcanvas-body">
        <div class="mb-2">
            <div class="form-label">
                <label class="fw-bold small required" for="batchClassDay">Class Day(s)</label>
            </div>
            <select class="form-select rounded-0" data-placeholder="Please Select a Day"
                    id="batchClassDay" onchange="selectDynamicValueValidator(this,'','newTimetable','day')"
                    required>
            </select>
            <div class="valid-feedback">Value Accepted</div>
            <div class="invalid-feedback">Please provide a valid Day</div>
        </div>
        <div class="mb-2">
            <div class="form-label">
                <label class="fw-bold small required" for="batchStartTime">Start Time</label>
            </div>
            <input class="form-control rounded-0 newBatchInputs pe-3" id="batchStartTime" required onchange="inputTextValidator(this,'^(0[8-9]|1[0-6]):[0-5][0-9]|17:00$','newTimetable','s')"
                   type="time">
            <div class="valid-feedback">Value Accepted</div>
            <div class="invalid-feedback">Please provide a valid Start Time</div>
            <div class="text-muted small"><small>Lecture hours are 08:30 to 17:00</small></div>
        </div>
        <div class="mb-2">
            <div class="form-label">
                <label class="fw-bold small required" for="batchEndTime">End Time</label>
            </div>
            <input class="form-control rounded-0 newBatchInputs pe-3" id="batchEndTime" required onchange="inputTextValidator(this,'^(0[8-9]|1[0-6]):[0-5][0-9]|17:00$','newTimetable','e')"
                   type="time">
            <div class="valid-feedback">Value Accepted</div>
            <div class="invalid-feedback">Please provide a valid End Time</div>
            <div class="text-muted small"><small>Lecture hours are 08:30 to 17:00</small></div>
        </div>
        <div class="mb-4">
            <div class="form-label">
                <label class="fw-bold small required" for="batchLectureRoom">Lecture Room</label>
            </div>
            <select class="form-select rounded-0" data-placeholder="Please Select a Lecure Room"
                    id="batchLectureRoom" onchange="selectDynamicValueValidator(this,'','newTimetable','l')"
                    required>
            </select>
            <div class="valid-feedback">Value Accepted</div>
            <div class="invalid-feedback">Please provide a valid End Time</div>
        </div>
        <div class="d-flex justify-content-evenly">
        <button class="btn btn-sm bg-steam-green text-white rounded-0 text-uppercase" type="button"><i class="fa-solid fa-plus"></i> Add & Continue</button>

        <button class="btn btn-sm btn-success rounded-0 text-uppercase" type="button" data-bs-target="#offCanvasBatch" data-bs-toggle="offcanvas" onclick="saveTimetable()">Save</button>

        </div>

    </div>
</div>
<!-- Off canvas for Time table end-->

<!--Modal for New Payment Plan-->
<div class="modal fade" id="modalPaymentPlan" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalPaymentPlan" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-75 rounded-0">
            <div class="modal-header bg-custom-white">
                <h5 class="modal-title" id="staticBackdropLabel" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">
                   New Payment Plan </h5>
                <button type="button" class="btn btn-sm btn-close-red text-white rounded-0" data-bs-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="fas fa-times"></i></button>
            </div>
            <div class="modal-body p-3">
              <form onsubmit="return false;">
                  <div class="mb-2">
                      <div class="form-label">
                          <label class="fw-bold small required" for="batchClassDay">Course</label>
                      </div>
                      <select class="form-select rounded-0" data-placeholder="Please Select a Day" required>
                          <option></option>
                      </select>
                      <div class="valid-feedback">Value Accepted</div>
                      <div class="invalid-feedback">Please provide a valid Course</div>
                  </div>
                  <div class="mb-2">
                      <div class="form-label">
                          <label class="fw-bold small required" for="batchClassDay">Name</label>
                      </div>
                      <input class="form-control rounded-0" required>
                      <div class="text-muted small">Example: Standard [Weekday]</div>
                  </div>
                  <div class="mb-2">
                      <div class="form-label">
                          <label class="fw-bold small required" for="batchClassDay">Registration Fee</label>
                      </div>
                      <input class="form-control rounded-0" required>
                  </div>
                  <div class="mb-2">
                      <div class="form-label">
                          <label class="fw-bold small required" for="batchClassDay">Course Fee</label>
                      </div>
                      <input class="form-control rounded-0" required>
                  </div>
                  <div class="mb-2">
                      <div class="form-label">
                          <label class="fw-bold small required" for="batchClassDay">Total Fee</label>
                      </div>
                      <input class="form-control rounded-0" required>
                  </div>
                  <div class="mb-2">
                      <div class="form-label">
                          <label class="fw-bold small required" for="batchClassDay">Number of Installments</label>
                      </div>
                      <input class="form-control rounded-0" required>
                  </div>
                  <div class="mb-2">
                      <div class="form-label">
                          <label class="fw-bold small required" for="batchClassDay">Expire Date</label>
                      </div>
                      <input class="form-control rounded-0" required >
                  </div>
              </form>
            </div>
        </div>
    </div>
</div>

<!--Toast-->
<div class="position-fixed top-0 end-0 p-2" style="z-index: 1055">
    <div id="myToast" class="toast hide bg-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body text-capitalize fw-bold">
            The currently highlighted data are editable
        </div>
    </div>
</div>

<script src="/resources/js/external-validator.js" type="text/javascript"></script>
<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/batch.js"></script>
</body>
</html>