<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <title>Manage Course | STEAM RMS</title>
    <!-- Favicon Icon -->
    <link href="/resources/images/favicon.ico?v1" rel="icon" type="image/x-icon">
    <!-- Bootstrap CSS File-->
    <link href="/resources/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Jquery Js File -->
    <script src="/resources/jquery/jquery.min.js"></script>
    <!-- Boostrap Js File -->
    <script src="/resources/bootstrap-5.2.3/js/bootstrap.bundle.js"></script>
    <!-- Fontawesome css -->
    <link href="/resources/fontawesome-6.4.2/css/all.min.css" rel="stylesheet">
    <!-- DateRangePicker Library -->
    <script src="/resources/daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="/resources/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <link href="/resources/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>
    <!-- Chosen Library-->
    <script src="/resources/chosen-1.8.7/chosen.jquery.min.js" type="text/javascript"></script>
    <link href="/resources/chosen-1.8.7/chosen.min.css" rel="stylesheet" type="text/css">
    <!--Link dataTable files -->
    <link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>

    <!-- Custom CSS File-->
    <link href="/resources/css/customRMS.css" rel="stylesheet">
    <style>
        fieldset, legend {
            all: revert;
        }

        fieldset {
            border-color: #ccc;
            border-style: solid;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: black;
            background-color: whitesmoke;
        }

        .nav-link {
            color: black;
        }
        .form-select:disabled {
            background-color: whitesmoke!important;
        }

    </style>

</head>
<body>
<!--Navbar start-->
<nav class="navbar navbar-expand-lg bg-steam-green p-1">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="Dashboard"><span class="text-uppercase fw-semibold">RMS</span> : :
            STEAM</a>
        <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarText" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon" style="filter: invert(100%)"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <!-- Navbar left side (Default)-->
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="New-Registration">New Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="Attendance">Attendance</a>
                </li>
            </ul>
            <!-- Navbar Right side -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="Registration">Registrations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content custom-active" href="Course">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="Batch">Batches</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white custom-width-max-content" href="Administrations">Administration</a>
                </li>
                <li class="nav-item dropdown-center custom-width-max-content p-0">
                    <button aria-expanded="false"
                            class="nav-link btn text-white dropdown-toggle custom-width-max-content border-0"
                            data-bs-toggle="dropdown">Profile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end rounded-0">
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown-center custom-width-max-content p-0">
                    <button aria-expanded="false"
                            class="nav-link btn bg-steam-green text-white dropdown-toggle custom-width-max-content border-0"
                            data-bs-toggle="dropdown" th:text="${username}">Profile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end rounded-0 mb-0">

                        <div class="dropdown-item p-0">
                            <div class="card w-100 p-0 m-0 border-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between gap-4">
                                        <img class="" src="https://emc.sgp1.digitaloceanspaces.com/uploads/hris/employees/photos/1556/1556.jpeg" width="50px">
                                        <span class="text-muted small text-small"><small>Student Counsellar</small></span>
                                    </div>
                                </div>
                                <div class="card-footer bg-custom-white border-0 text-center mb-0 show">Logout</div>
                            </div>
                        </div>
                    </ul>

                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link text-white custom-width-max-content" href="#"><i
                            aria-hidden="true" class="fa-solid fa-bell"></i></a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!--Navbar end-->

<!-- Display Current Page -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Manage Courses</h5>
</div>

<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body rounded-0">
            <div class="row align-items-center d-flex justify-content-around">
                <div class="col-12 col-lg-4 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1">

                    <label class="text-uppercase small m-0 p-0 text-muted" for="courseSearchID">Search</label>
                    <div class="input-group">
                        <span class="input-group-text bg-custom-white rounded-0"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                        <input class="form-control rounded-0" id="courseSearchID"
                               placeholder="Course Code">
                        <div class="d-flex align-items-center justify-content-evenly">
                            <button class="btn bg-steam-green rounded-0 text-white" id="courseSearchButton" onclick="" type="button"><i
                                    class="fa-solid fa-magnifying-glass small"></i></button>
                            <button class="btn btn-close-red rounded-0 text-white ms-3" id="courseSearchReset" onclick="" type="reset"><i
                                    class="fa-solid fa-xmark"></i></button>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-7 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1 text-end">
                    <p class="text-uppercase small m-0 p-0 text-muted">Create a New Course</p>
                    <button aria-controls="staticBackdrop"
                            class="btn pointer bg-steam-green text-white rounded-0 text-end"
                            data-bs-target="#offCanvasCourse" data-bs-toggle="offcanvas"><i
                            class="fa-solid fa-plus"></i> Course
                    </button>
                </div>

            </div>
        </div>
        <div class="card-footer show pt-4 pb-4">
            <h4 class="text-center fw-bold"
                style="font-family: Arial,serif;text-transform: uppercase;font-size: medium">Search Course Info /
                <small class="text-muted">No records</small></h4>

            <table class="custom-table" id="tblCourse">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Course Code</th>
                    <th>Duration</th>
                    <th>Min. Requirement</th>
                    <th>Lecture Hours</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!-- Ajax loader start-->
            <div class="loading-overlay mt-2">
                <img alt="loading animation" src="/resources/images/loader.svg" width="60px">
            </div>
            <!-- Ajax loader end-->
        </div>


    </div>
</div>

<!-- Off canvas for course add start-->
<div aria-labelledby="staticBackdropLabel" class="offcanvas offcanvas-end" data-bs-backdrop="static" id="offCanvasCourse"
     tabindex="-1">
    <div class="offcanvas-header bg-custom-white">
        <div>
            <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0" data-bs-dismiss="offcanvas"
                    id="offCanvasCourseCloseButton" type="button"><i class="fas fa-times"></i></button>
            <button class="btn btn-sm bg-secondary text-white rounded-0" onclick="resetCourseForm()" type="button"><i
                    class="fas fa-refresh"></i>
            </button>
        </div>
        <h3 class="float-end mt-2"
            style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">New
            Course</h3>
    </div>
    <div class="offcanvas-body">
        <p class="m-0 fw-bold text-end"><label class="required"></label><span class="text-danger"><sup> Mandatory Fields </sup></span></p>
        <div class="card border-0">
            <div class="card-body border-0">
                <form onsubmit="return false" id="frmNewCourse">
                    <div class="mb-3">
                        <img src="" id="imgProfile" class="placeholder-image img-thumbnail rounded-0 mx-auto d-block">

                    </div>
                    <div class="mb-2">
                        <label for="courseLogo" class="form-label fw-bold small required">Course Logo</label>
                        <input class="form-control rounded-0 small newCourseInputs" type="file" id="courseLogo" accept="image/png, image/jpeg" required onchange="newCourse.photoPath=this.value">
                        <div class="text-muted small"><small>Resolution should at least 512 x 512 pixels</small></div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="courseName">Course Name</label>
                        </div>
                        <input class="form-control rounded-0 newCourseInputs" id="courseName" onkeyup="inputTextValidator(this,'^[A-Z][a-zA-Z]* in [A-Z][a-zA-Z ]+$','newCourse','name');generateCourseCode();"
                               required>
                        <div class="text-muted small"><small>Example : Diploma in English</small></div>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Name</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="courseCode">Course Code</label>
                        </div>
                        <input class="form-control rounded-0 newCourseInputs" id="courseCode" onkeyup="inputTextValidator(this,'^[A-Z][a-z][A-Z]{1,}$','newCourse','code')"
                               required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Code</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="courseDuration">Duration</label>
                        </div>
                        <div class="input-group">
                            <input class="form-control rounded-0 newCourseInputs" id="courseDuration" onkeyup="inputTextValidator(this,'^[0-9]{1,2}$','newCourse','duration')"
                                   required>
                            <input class="form-control rounded-0 newCourseInputs w-50" disabled readonly value="Months">
                            <div class="valid-feedback rounded-2">Value Accepted</div>
                            <div class="invalid-feedback rounded-2">Please provide a valid Duration</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="courseRequirement">Minimum Requirement</label>
                        </div>
                        <select class="form-select rounded-0" data-placeholder="Please Select a Minimum Requirement" id="courseRequirement" onchange="selectStaticValueValidator(this,'','newCourse','minimumRequirement');" required>
                            <option></option>
                            <option>Undergraduate</option>
                            <option>After A/L</option>
                            <option>After O/L</option>
                            <option>Grade 9</option>
                        </select>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Requirement</div>
                    </div>
                    <div class="mb-4">
                        <div class="form-label">
                            <label class="fw-bold small required" for="courseHours">Lecture Hours</label>
                        </div>
                        <div class="input-group">
                            <input class="form-control rounded-0 newCourseInputs" id="courseHours" onkeyup="inputTextValidator(this,'^[0-9]{3,4}$','newCourse','lectureHours')"
                                   required>
                            <input class="form-control rounded-0 newCourseInputs w-50" disabled readonly value="Hours">
                            <div class="valid-feedback rounded-2">Value Accepted</div>
                            <div class="invalid-feedback rounded-2">Please provide a valid Duration</div>
                        </div>
                    </div>
                    <div class="mb-5 border p-1 bg-light text-center">
                        <p class="fw-bold mb-1 form-label">Add Course Modules</p>
                        <button aria-controls="staticBackdrop" class="btn pointer bg-success btn-sm mb-1 text-white rounded-0 text-end" data-bs-target="#offCanvasModules" data-bs-toggle="offcanvas" type="button"><i class="fa-solid fa-plus"></i> Add
                        </button>
                        <div class="text-muted small">
                            <small>Click "+ Add" to add the modules for the course</small></div>
                        <table class="table table-sm table-bordered text-center small mb-0 mt-2 d-none" id="tblModule">
                            <thead class="align-middle">
                            <tr>
                                <th class="small">#</th>
                                <th class="small">Module</th>
                                <th class="small">Remove</th>
                            </tr>
                            </thead>
                            <tbody class="align-middle small">
                            <tr>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-0">
                        <button class="btn bg-steam-green text-white rounded-0 btn-block w-100" id="courseConfirm"
                                onclick="newCourseSubmit()" type="submit">Confirm
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Off canvas for course add end-->

<!-- Off canvas for course details start-->
<div aria-labelledby="offcanvasRightLabel" class="offcanvas offcanvas-end w-50" data-bs-backdrop="static"
     id="offcanvasCourseSheet" tabindex="-1">
    <div class="offcanvas-header bg-custom-white">
        <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0"
                data-bs-dismiss="offcanvas" id="offCanvasCourseSheetCloseButton"
                type="button"><i class="fas fa-times"></i></button>
        <div class="container d-flex gap-3 ms-1" style="width: 55%">
            <button class="btn btn-sm bg-info rounded-0 text-white" onclick="batchEdit()"><i
                    class="fa-regular fa-pen-to-square"></i> Edit Info
            </button>
            <button class="btn btn-sm bg-warning rounded-0 text-white" id="btnCourseSheetUpdate" onclick="batchUpdate()"><i
                    class="fa-solid fa-arrows-rotate"></i> Update
            </button>
            <button class="btn btn-sm bg-danger rounded-0 text-white" id="btnCourseSheetDelete" onclick="batchDelete()"><i class="fa-solid fa-trash"></i>
                Delete
            </button>
        </div>
        <h3 class="align-items-center text-nowrap ms-3 mt-2"
            style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Course
            Details</h3>
    </div>
    <div class="offcanvas-body"></div>
</div>
<!-- Off canvas for course details start-->

<!-- Off canvas for modules start-->
<div aria-labelledby="staticBackdropLabel" class="offcanvas offcanvas-end" data-bs-backdrop="static" id="offCanvasModules"
     tabindex="-1">
    <div class="offcanvas-header bg-custom-white">
        <div>
            <button class="btn btn-sm bg-secondary text-white rounded-0" type="button" onclick="resetModuleForm()"><i
                    class="fas fa-refresh"></i>
            </button>
        </div>
        <h3 class="float-end" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Add Modules to Course</h3>
    </div>
    <div class="offcanvas-body">
        <form id="frmNewModule" onsubmit="return false">
            <div class="mb-2">
                <div class="form-label">
                    <label class="fw-bold small required" for="courseExistModules">Add Module(s)</label>
                </div>
                <div class="input-group">
                <select class="form-select rounded-0" data-placeholder="Please Select a Module"
                        id="courseExistModules" onchange="selectDynamicValueValidator(this,'','lesson','dayID')"
                        required>
                </select>
                    <button class="btn btn-sm btn-success rounded-0" type="button" data-bs-toggle="modal" data-bs-target="#modalModule"><i class="fa-solid fa-plus"></i> Add</button>

                    <div class="text-muted small">
                        <small>Existing Modules are listed.<br/>If you want to add a new Module click "+ Add".
                        </small>
                    </div>
                    <div class="valid-feedback rounded-2">Value Accepted</div>
                    <div class="invalid-feedback rounded-2">Please provide a valid Day</div>
                </div>

            </div>
            <div class="d-flex justify-content-evenly mt-4">
                <button class="btn btn-sm bg-steam-green text-white rounded-0" type="button" onclick="addToArray()"><i class="fa-solid fa-plus"></i> Add Module</button>

                <button class="btn btn-sm btn-success rounded-0" type="button" data-bs-target="#offCanvasCourse" data-bs-toggle="offcanvas" onclick="displayLessons()">Save & Go Back</button>

            </div>
        </form>
    </div>
</div>
<!-- Off canvas for modules end-->

<!-- Modal for new module start -->
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade"
     data-bs-backdrop="static" data-bs-keyboard="false" id="modalModule"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered rounded-0" style="width: 400px!important;">
        <div class="modal-content rounded-0">
            <div class="modal-header bg-custom-white">
                <h5 class="modal-title" id="staticBackdropLabel" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Add New Module</h5>
                <button aria-label="Close" class="btn btn-sm btn-close-red text-white rounded-0"
                        data-bs-dismiss="modal"
                        type="button"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <form id="frmAddNewModule">
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="moduleName">Name</label>
                        </div>
                        <input class="form-control rounded-0 newModuleInputs" id="moduleName" onkeyup="inputTextValidator(this,'','newLesson','name')"
                               required>
                        <div class="text-muted small"><small>Example : Diploma in English</small></div>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Name</div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="moduleCode">Code</label>
                        </div>
                        <input class="form-control rounded-0 newModuleInputs" id="moduleCode" onkeyup="inputTextValidator(this,'','newLesson','code')"
                               required>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Code</div>
                    </div>
                    <div class="mb-4">
                        <div class="form-label">
                            <label class="fw-bold small required" for="moduleExam">Exam Available</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="text-center">
                                <div class="d-flex align-items-center justify-content-center mx-auto bg-success text-white" id="leftWeekday" style="border-radius: 50%;height: 40px;width: 40px;background:#ddd">
                                    <i class="fa-solid fa-thumbs-down"></i>
                                </div>
                                <span class="text-muted small">No</span>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" id="moduleExam" onchange="checkBoxValidator(this, leftWeekday, rightWeekday, 'newLesson', 'examAvailable', true, false);" role="switch" style="scale: 1.7;" type="checkbox">
                            </div>
                            <div class="text-center">
                                <div class="d-flex align-items-center justify-content-center mx-auto" id="rightWeekday" style="border-radius: 50%;height: 40px;width: 40px;background:#ddd">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </div>
                                <span class="text-muted small">Yes</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success bg-steam-green mx-auto d-block rounded-0" type="button" onclick="newLessonSubmit()">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal for new module end -->

<!--Toast-->
<div class="position-fixed top-0 end-0 p-2" style="z-index: 1055">
    <div id="myToast" class="toast hide bg-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body text-capitalize fw-bold">
            The currently highlighted data are editable
        </div>
    </div>
</div>


<script>
    const employeeProfileInput = document.getElementById("courseLogo");
    const imgProfile = document.getElementById("imgProfile");

    employeeProfileInput.addEventListener("change", function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                const img = new Image();
                img.onload = function () {
                    if (img.width >= 512 && img.height >= 512) {
                        imgProfile.src = e.target.result;
                        imgProfile.classList.add('bg-success');
                    } else {
                        // Provide feedback to the user or prevent displaying the image
                        showCustomModal("Image resolution should be at least <small>512 x 512 pixels</small>","warning");
                        // Optionally, clear the image preview
                        imgProfile.src = "";
                        imgProfile.classList.remove('bg-success');
                        // Clear the file input value to allow the user to choose another file
                        employeeProfileInput.value = "";
                    }
                };
                img.src = e.target.result;
            };

            reader.readAsDataURL(file);
        } else {
            // Handle the case where no file is selected (e.g., clear the image preview)
            imgProfile.src = "";
            imgProfile.classList.remove('bg-success');
        }
    });



</script>
<script src="/resources/js/external-validator.js" type="text/javascript"></script>
<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/course.js"></script>
</body>
</html>