<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: headFragment}"></head>
<body>

<!--Loader Start-->
<div th:replace="~{fragments/loader :: loader}"></div>
<!-- Loader end-->

<!--Navbar start-->
<nav th:replace="~{ fragments/navbar :: navbarFragment}"></nav>
<!--Navbar end-->

<!-- Display Current Page -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Dashboard</h5>
</div>

<!-- widgets-->
<div class="container-fluid">
    <div class="card-body rounded-0 pt-3 pb-3">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="card card-body  rounded-0 h-100 pointer text-muted dashboard-widget-yellow">
                    <div class="row h-100">
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-center" style="border-radius: 50%;height: 60px;width: 60px;background: #fff7e5">
                                <i class="fa-solid fa-coins" style="color:#FDE74C;font-size: 25px" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9 ">
                            <div class="text-uppercase text-center">Daily Income</div>
                            <div class="text-dark text-center h5 mt-2 fw-bold" id="dailyIncomeText">RS. 999,999.00</div>
                        </div>

                    </div>


                </div>

            </div>

            <div class="col-lg-3 col-12">
                <div class="card card-body rounded-0 h-100 text-muted dashboard-widget-green">
                    <div class="row h-100">
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-center" style="border-radius: 50%;height: 60px;width: 60px;background: #DDF6F7">
                                <i class="fa-solid fa-money-bills" style="color:#1ec781;font-size: 25px" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9 ">
                            <div class="text-uppercase text-center">Monthly Income</div>
                            <div class="text-dark text-center h5 mt-2 fw-bold" id="monthlyIncomeText">RS. 999,999.00</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="card card-body rounded-0 h-100 pointer text-muted dashboard-widget-red">
                    <div class="row h-100">
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-center" style="border-radius: 50%;height: 60px;width: 60px;background: #f7dddd">
                                <i class="fa-solid fa-dollar-sign" style="color:#fd4c4c;font-size: 25px" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9 ">
                            <div class="text-uppercase text-center">Due Payments</div>
                            <div class="text-dark text-center h5 mt-2 fw-bold">RS. 999,999.00</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <a aria-controls="offcanvasRight" aria-current="page" class="text-decoration-none" data-bs-target="#offCanvasQuickPayment" data-bs-toggle="offcanvas">
                    <div class="card card-body rounded-0 h-100 pointer text-muted dashboard-widget-blue">
                        <div class="row h-100">
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                <div class="d-flex align-items-center justify-content-center" style="border-radius: 50%;height: 60px;width: 60px;background: #c1eaff">
                                    <i class="fa-solid fa-circle-plus" style="color:#1e7bc7;font-size: 25px" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-9 lh-1 d-flex align-items-center justify-content-center">
                                <div class="lh-1">
                                    <span class="text-uppercase">Quick Payment</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="">
        <div class="card-group">
            <div class="card card-body rounded-0">
                <h2 class="text-muted text-uppercase fs-6 mb-2">Monthly Registration Breakdown</h2>
                <div id="chartRegistrationBreakdown"></div>
            </div>
            <div class="card card-body rounded-0">
                <h2 class="text-muted text-uppercase fs-6">Top Courses</h2>
            </div>
        </div>
    </div>
</div>

<!--Highcharts Js-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-loader.js" type="text/javascript"></script>
<script src="/resources/js/external-chart.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/dashboard.js" type="text/javascript"></script>
<script th:replace="~{ fragments/logout :: logoutScript}"></script>
</body>
</html>