<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: headFragment}"></head>
<style>
    .fc-event {
        width: 99%; /* Adjust the width as needed */
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
    .fc-col-header-cell-cushion,.fc-list-day-text{
        color: black;
        text-decoration: none;
        font-size: large;
    }
    .fc .fc-timegrid-slot-label{
        padding: 8px;
    }
    .fc-direction-ltr .fc-timegrid-slot-label-frame{
        text-align: left;
    }
    .fc .fc-timegrid-col.fc-day-today {
        background-color:#f3f3f3;
    }
    .fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active{
        background: #13357a!important;
        border-color: #13357a;
    }
    .fc .fc-button-primary{
        background: #19459D !important;
    }
    .fc-toolbar-title{
        font-size: larger!important;
    }
</style>
<body>

<!--Loader Start-->
<div th:replace="~{fragments/loader :: loader}"></div>
<!-- Loader end-->

<!--Navbar start-->
<nav th:replace="~{ fragments/navbar :: navbarFragment}"></nav>
<!--Navbar end-->

<!-- Display Current Page -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Daily Schedule</h5>
</div>

<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body rounded-0">
            <div class="row align-items-center d-flex justify-content-around">
                <div class="col-12 col-lg-4 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1">

<!--                    <label class="text-uppercase small m-0 p-0 text-muted" for="courseSearchID">Search</label>-->
<!--                    <div class="input-group">-->
<!--                        <span class="input-group-text bg-custom-white rounded-0"><i-->
<!--                                class="fa-solid fa-magnifying-glass"></i></span>-->
<!--                        <input class="form-control rounded-0" id="courseSearchID"-->
<!--                               placeholder="Course Code">-->
<!--                        <div class="d-flex align-items-center justify-content-evenly">-->
<!--                            <button class="btn bg-steam-green rounded-0 text-white" id="courseSearchButton" onclick="" type="button"><i-->
<!--                                    class="fa-solid fa-magnifying-glass small"></i></button>-->
<!--                            <button class="btn btn-close-red rounded-0 text-white ms-3" id="courseSearchReset" onclick="" type="reset"><i-->
<!--                                    class="fa-solid fa-xmark"></i></button>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
                <div class="col-12 col-lg-7 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1 text-end">
                    <p class="text-uppercase small m-0 p-0 text-muted">Create a New Daily Schedule</p>
                    <button aria-controls="staticBackdrop"
                            class="btn pointer bg-steam-green text-white rounded-0 text-end"
                            data-bs-target="#offCanvasDayPlan" data-bs-toggle="offcanvas"><i
                            class="fa-solid fa-plus"></i> Daily Schedule
                    </button>
                </div>

            </div>
        </div>
        <div class="card-footer show">
            <div class="d-flex align-items-center justify-content-evenly">
            <div class="w-100" id="currentSchedule"></div>
            </div>
        </div>

    </div>
</div>

<!-- Off canvas for day plan add start-->
<div aria-labelledby="staticBackdropLabel" class="offcanvas offcanvas-end" data-bs-backdrop="static" id="offCanvasDayPlan"
     tabindex="-1">
    <div class="offcanvas-header bg-custom-white">
        <div>
            <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0" data-bs-dismiss="offcanvas"
                    id="offCanvasDayPlanCloseButton" type="button"><i class="fas fa-times"></i></button>
            <button class="btn btn-sm bg-secondary text-white rounded-0" onclick="" type="button"><i
                    class="fas fa-refresh"></i>
            </button>
        </div>
        <h3 class="float-end mt-2"
            style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">New
            Daily Schedule</h3>
    </div>
    <div class="offcanvas-body">
        <p class="m-0 fw-bold text-end"><label class="required"></label><span class="text-danger"><sup> Mandatory Fields </sup></span></p>
        <div class="card border-0">
            <div class="card-body border-0">
                <form>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="dayPlanBatch">Batch</label>
                        </div>
                        <select class="form-select rounded-0" data-placeholder="Please Select a Batch" id="dayPlanBatch"
                                onchange="selectDynamicValueValidator(this,'','newDayPlan','batchID');getBatchInfo();" required>
                            <option>Dynamic Value 1</option>
                            <option>Dynamic Value 2</option>
                            <option>Dynamic Value 3</option>
                            <option>Dynamic Value 4</option>
                        </select>
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Course</div>
                    </div>
                    <div class="collapse mb-2" id="collapseBatch">
                        <div class="card card-body rounded-0 small">
                            <p class="mb-0">Start Time : <span class="text-muted" id="collapseBatchStartTime"></span></p>
                            <p class="mb-0">End Time : <span class="text-muted" id="collapseBatchEndTime"></span></p>
                            <p class="mb-0">Duration (Hr) : <span class="text-muted" id="collapseBatchDuration"></span></p>
                            <p class="mb-0">Attendance Count : <span class="text-muted"><a id="collapseBatchAttendance" class="text-decoration-underline text-dark" data-bs-toggle="modal" data-bs-target="#modalBatchAttendance">123</a></span></p>

                        </div>
                    </div>
                    <div class="mb-5 border p-1 bg-light text-center">
                        <p class="fw-bold mb-1 form-label">Add a Session</p>
                        <button aria-controls="staticBackdrop" class="btn pointer bg-success btn-sm mb-1 text-white rounded-0 text-end" data-bs-target="#offCanvasSession" data-bs-toggle="offcanvas" type="button"><i class="fa-solid fa-plus"></i> Add
                        </button>
                        <div class="text-muted small">
                            <small>Click "+ Add" to add a session for Today's Schedule</small></div>
                        <table class="table table-sm table-bordered small mb-0 mt-2 d-none" id="tblSession">
                            <thead class="align-middle">
                            <tr>
                                <th class="small">#</th>
                                <th class="small">Lesson</th>
                                <th class="small">Start Time</th>
                                <th class="small">End Time</th>
                                <th class="small">Duration</th>
                                <th class="small">Remove</th>
                            </tr>
                            </thead>
                            <tbody class="align-middle small"><tr><td colspan="6">No Records Found!</td></tr></tbody>
                        </table>
                    </div>
                    <div class="mb-0">
                        <button class="btn bg-steam-green text-white rounded-0 btn-block w-100" id="dayPlanConfirm" onclick="newDayPlanSubmit()" type="submit">Confirm
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Off canvas for day plan add end-->

<!-- modal for attendance start-->
<div class="modal fade" id="modalBatchAttendance" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalBatchAttendance" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-header bg-custom-white">
                <h5 class="modal-title" id="staticBackdropLabel" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">
                    Attendance List</h5>
                <button aria-label="Close" class="btn btn-sm btn-close-red text-white rounded-0" data-bs-dismiss="modal" type="button"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body p-3">
                <table class="table table-sm table-bordered small" id="tblAttendance">
                    <thead class="align-middle text-center">
                    <tr>
                        <th>#</th>
                        <th>Reg Number</th>
                        <th>Student Name</th>
                        <th>Attendance Time</th>
                    </tr>
                    </thead>
                    <tbody class="align-middle small text-center"><tr><td colspan="4">No Records Found!</td></tr></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- modal for attendance end-->

<script src="/resources/js/external-validator.js" type="text/javascript"></script>
<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-loader.js" type="text/javascript"></script>
<script src="/resources/fullcalendar-6.1.14/index.global.min.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/dayPlan.js"></script>
<script th:replace="~{ fragments/logout :: logoutScript}"></script>
</body>
</html>