<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: headFragment}"></head>

<body>
<!--Loader Start-->
<div th:replace="~{fragments/loader :: loader}"></div>
<!-- Loader end-->

<!--Navbar start-->
<nav th:replace="~{ fragments/navbarAdministration ::navbarAdministrationFragment}"></nav>
<!--Navbar end-->

<!-- Display Current Page -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Manage Exam Attempts</h5>
</div>

<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body rounded-0">
            <div class="row align-items-center d-flex justify-content-around">
                <div class="col-12 col-lg-auto m-lg-0 p-0 ms-lg-2 ms-sm-0 mb-1">
                    <label class="text-uppercase text-muted small m-0 p-0" for="examSearchDateRange">Date Range</label>
                    <div class="input-group">
                        <span class="input-group-text text-black bg-custom-white rounded-0"><i class="fa-solid fa-calendar-week"></i></span>
                        <input class="form-control rounded-0" style="width: 235px;" id="examSearchDateRange" placeholder="Date Range" />
                    </div>
                </div>
                <div class="col-12 col-lg-auto m-0 p-0">
                    <label class="text-uppercase text-muted small m-0 p-0" for="examSearchCourse">Filters</label>
                    <label class="text-uppercase small m-0 p-0 text-muted" style="margin-left: 795px!important;">Search</label>
                    <div class="input-group">
                        <span class="input-group-text bg-custom-white rounded-0"><i class="fa-solid fa-filter"></i></span>
                        <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Select Course" onchange="getBatches()" id="examSearchCourse">

                        </select>
                        <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Select Course First" id="examSearchBatch">

                        </select>
                        <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Select Batch First" id="examSearchLesson">

                        </select>
                        <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Select Lesson First" id="examSearchRegistration">

                        </select>
                        <div class="d-flex align-items-center justify-content-evenly">
                            <button class="btn bg-steam-green rounded-0 text-white" id="" type="submit"><i class="fa-solid fa-magnifying-glass small"></i></button>
                            <button class="btn btn-close-red rounded-0 text-white ms-3" id="btn-reset" type="reset">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-auto p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1 text-end">
                    <p class="text-uppercase small m-0 p-0 text-muted">Create a New Exam Attempt</p>
                    <button aria-controls="staticBackdrop"
                            class="btn pointer bg-steam-green text-white rounded-0 text-end"
                            data-bs-target="#offCanvasExamAttempt" data-bs-toggle="offcanvas"><i
                            class="fa-solid fa-plus"></i> Exam Attempt
                    </button>
                </div>

            </div>
        </div>
        <div class="card-footer show pt-4 pb-4">
            <h4 class="text-center fw-bold"
                style="font-family: Arial,serif;text-transform: uppercase;font-size: medium">Search Batch Info /
                <small class="text-muted">No records</small></h4>

            <table class="custom-table" id="tblExamAttempts">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Course</th>
                    <th>Batch Code</th>
                    <th>Commence Date</th>
                    <th>End Date</th>
                    <th>WeekDay / WeekEnd</th>
                    <th>Seat Count</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!-- Ajax loader start-->
            <div class="loading-overlay mt-2">
                <img alt="loading animation" src="/resources/images/loader.svg" width="60px">
            </div>
            <!-- Ajax loader end-->
        </div>


    </div>
</div>


<script src="/resources/sheetJS-0.20.0/xlsx.full.min.js" type="text/javascript"></script>
<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-exportData.js" type="text/javascript"></script>
<script src="/resources/js/external-loader.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/exam.js" type="text/javascript"></script>
<script th:replace="~{ fragments/logout :: logoutScript}"></script>
</body>
</html>