<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: headFragment}"></head>
<body>
<!--Loader Start-->
<div th:replace="~{fragments/loader :: loader}"></div>
<!-- Loader end-->

<!--Navbar start-->
<nav th:replace="~{ fragments/navbarReport :: navbarReportsFragment}"></nav>
<!--Navbar end-->

<!-- Display Current Page -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5><a href="/Report">Reports</a> / Mark Report</h5>
</div>

<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body rounded-0 mb-3">
            <form onsubmit="return false;" class="mb-2">
                <div class="row align-items-center d-flex justify-content-evenly">
                    <div class="col-12 col-lg-5">
                        <label class="text-uppercase text-muted small m-0 p-0" for="markSearchBatch">Search</label>
                        <div class="input-group">
                            <span class="input-group-text bg-custom-white rounded-0"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Please Select Batch" id="markSearchBatch" onchange="getRegistrations()">

                            </select>
                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Please Select Batch First" id="markSearchRegistration">

                            </select>
                            <button class="btn bg-steam-green rounded-0 text-white" id=""  onclick="getMarkReport()" type="submit"><i class="fa-solid fa-magnifying-glass small"></i></button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <!--                        <label class="text-uppercase small m-0 p-0 text-muted" >Search</label>-->
                        <div class="input-group">
                            <div class="d-flex align-items-center justify-content-evenly">

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <!--                        <label class="text-uppercase text-muted small m-0 p-0" for="registrationSearchCourse">Filters</label>-->
                        <!--                        <div class="input-group">-->
                        <!--                            <span class="input-group-text bg-custom-white rounded-0"><i class="fa-solid fa-filter"></i></span>-->
                        <!--                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Sort by a Course" onchange="getBatches()" id="registrationSearchCourse">-->

                        <!--                            </select>-->
                        <!--                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Please Select Course First" id="registrationSearchBatch">-->

                        <!--                            </select>-->
                        <!--                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Sort by a Payment Type" id="registrationSearchPaymentMethod">-->

                        <!--                            </select>-->
                        <!--                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Sort by a Cashier" id="registrationSearchUser">-->

                        <!--                            </select>-->
                        <!--                        </div>-->
                    </div>

                </div>
            </form>

        </div>
        <div class="card-footer show pt-4 pb-4">
            <div class="w-100 d-flex mt-2 mb-2">
                <div class="w-75 d-flex align-items-center">

                </div>
                <div class="w-25 justify-content-end d-flex align-items-center">
                    <button class="btn btn-sm btn-success float-end rounded-0" onclick="markReportToXlsx()">Export to Xlsx</button>
                </div>
            </div>
            <table class="custom-table text-start" id="tblMarkReport">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Registration Number</th>
                    <th>Student</th>
                    <th>Course /  Batch</th>
                    <th>Lesson</th>
                    <th>Marks</th>
                    <th>Status</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="7" class="text-center">No Records Found!</td>
                </tr>
                </tbody>
            </table>
            <!-- Ajax loader start-->
            <div class="loading-overlay mt-2">
                <img alt="loading animation" src="/resources/images/loader.svg" width="60px">
            </div>
            <!-- Ajax loader end-->
        </div>

    </div>
</div>
<script src="/resources/sheetJS-0.20.0/xlsx.full.min.js" type="text/javascript"></script>
<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-exportData.js" type="text/javascript"></script>
<script src="/resources/js/external-loader.js" type="text/javascript"></script>
<script src="/resources/highcharts-11.4.3/highcharts.js" type="text/javascript"></script>
<script src="/resources/highcharts-11.4.3/modules/exporting.js" type="text/javascript"></script>
<script src="/resources/js/external-chart.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/markReport.js" type="text/javascript"></script>
<script th:replace="~{ fragments/logout :: logoutScript}"></script>
</body>
</html>