<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <title>New Registration | STEAM RMS</title>
    <!-- Favicon Icon -->
    <link href="/resources/images/favicon.ico" rel="icon" type="image/x-icon">
    <!-- Bootstrap CSS File-->
    <link href="/resources/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Jquery Js File -->
    <script src="/resources/jquery/jquery.min.js"></script>
    <!-- Boostrap Js File -->
    <script src="/resources/bootstrap-5.2.3/js/bootstrap.bundle.js"></script>
    <!-- Fontawesome Js Plug-in -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/07941f149f.js"></script>
    <!-- DateRangePicker Library -->
    <script src="/resources/daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="/resources/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <link href="/resources/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>
    <!-- Chosen Library-->
    <script src="/resources/chosen-1.8.7/chosen.jquery.min.js" type="text/javascript"></script>
    <link href="/resources/chosen-1.8.7/chosen.min.css" rel="stylesheet" type="text/css">
    <!--Link dataTable files -->
    <link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>

    <!-- Custom CSS File-->
    <link href="/resources/css/customRMS.css" rel="stylesheet">
    <style>
        fieldset, legend {
            all: revert;
        }

        fieldset {
            border-color: #ccc;
            border-style: solid;
        }
    </style>

</head>
<body>
<!--Navbar start-->
<nav class="navbar navbar-expand-lg bg-steam-green p-1">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="Dashboard"><span class="text-uppercase fw-semibold">RMS</span> : : STEAM</a>
        <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarText" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon" style="filter: invert(100%)"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <!-- Navbar left side (Default)-->
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content custom-active" href="New-Registration">New Registration</a>
                </li>
            </ul>
            <!-- Navbar Right side -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="Registration">Registrations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="Course">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white custom-width-max-content" href="Batch">Batches</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white custom-width-max-content" href="Administrations">Administration</a>
                </li>
                <li class="nav-item dropdown-center custom-width-max-content p-0">
                    <button aria-expanded="false"
                            class="nav-link btn text-white dropdown-toggle custom-width-max-content border-0"
                            data-bs-toggle="dropdown">Profile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end rounded-0">
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link text-white custom-width-max-content" href="#"><i class="fa-solid fa-bell" aria-hidden="true"></i></a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!--Navbar end-->

<!-- Display Current Page -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>New Registration</h5>
</div>

<!-- Stepper start-->
<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body">
            <div class="container-fluid p-1 d-flex overflow-auto">
                <div class="custom-stepper" id="btn-course" onclick="previous0()">
                    <div class="step-number">
                        <span>1</span>
                    </div>
                    <p>Select Course</p>
                </div>
                <div class="custom-stepper" id="btn-batch" onclick="previous1()">
                    <div class="step-number">
                        <span>2</span>
                    </div>
                    <p>Select Batch</p>
                </div>
                <div class="custom-stepper" id="btn-payment-str" onclick="previous2()">
                    <div class="step-number">
                        <span>3</span>
                    </div>
                    <p>Payment Structure</p>
                </div>
                <div class="custom-stepper" id="btn-student" onclick="previous3()">
                    <div class="step-number">
                        <span>4</span>
                    </div>
                    <p>Select Student</p>
                </div>
                <div class="custom-stepper" id="btn-add-payment">
                    <div class="step-number">
                        <span>5</span>
                    </div>
                    <p>Add Payment</p>
                </div>
            </div>
        </div>
        <!-- Stepper end-->


        <!-- Course start-->
        <div class="card-footer show" id="step-course">
            <h5 class="card-title" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Course Index</h5>
            <p class="text-center">Selected Course : <span id="textSelectedCourse" class="fw-bold text-steam-green">None</span></p>
<!--            <table class="custom-table" id="tblCourses">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Action</th>-->
<!--                    <th>#</th>-->
<!--                    <th>Name</th>-->
<!--                    <th>Code</th>-->
<!--                    <th>Duration</th>-->
<!--                    <th>Min. Requirement</th>-->
<!--                    <th>Lecture Hours</th>-->
<!--                    <th>Status</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                </tbody>-->
<!--            </table>-->
            <!-- Ajax loader start-->
            <div class="loading-overlay mt-2">
                <img src="/resources/images/loader.svg" width="60px" alt="loading animation">
            </div>
            <!-- Ajax loader end-->
            <div id="testA"></div>
            <!--
            <div class="container-fluid  btn-group">
                <input autocomplete="off" class="btn-check" id="btnradio1" name="btnradio" type="radio">
                <label class="btn btn-outline-success m-3 rounded-0" for="btnradio1"><img src="resources/images/dit.png"
                                                                                          width="90%"></label>

                <input autocomplete="off" class="btn-check" id="btnradio2" name="btnradio" type="radio">
                <label class="btn btn-outline-success m-3 rounded-0" for="btnradio2"><img src="resources/images/die.png"
                                                                                          width="90%"></label>

                <input autocomplete="off" class="btn-check" id="btnradio3" name="btnradio" type="radio">
                <label class="btn btn-outline-success m-3 rounded-0" for="btnradio3"><img src="resources/images/cit.png"
                                                                                          width="90%"></label>

                <input autocomplete="off" class="btn-check" id="btnradio4" name="btnradio" type="radio">
                <label class="btn btn-outline-success m-3 rounded-0" for="btnradio4"><img src="resources/images/cie.png"
                                                                                          width="90%"></label>
            </div>
            -->
            <div class="row mt-3">
                <div class="col-6 align-items-center d-flex">
                    <h5 class="card-title text-secondary" style="font-size: small;">Step 1 of 5</h5>
                </div>
                <div class="col-6">
                    <button class="btn btn-secondary float-end rounded-0" onclick="next0()">Next <i class="fa-solid fa-chevron-right"></i></button>
                </div>

            </div>
        </div>
        <!-- Course end-->

        <!-- Batch start -->
        <div class="card-footer" id="step-batch">
            <h5 class="card-title"
                style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">
                Available batches</h5>
            <div class="container-fluid p-1">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 p-2">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h5 class="text-secondary fs-6 lh-1">Weekday Batches</h5>
                                <br/>
                                <div id="containerA"></div>
<!--                                <table class="custom-table" id="tblWeekDayBatches">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th></th>-->
<!--                                        <th>#</th>-->
<!--                                        <th>Code</th>-->
<!--                                        <th>Commence Date</th>-->
<!--                                        <th>End Date</th>-->
<!--                                        <th>Seat Count</th>-->
<!--                                        <th>Description</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    </tbody>-->
<!--                                </table>-->
                                <!-- Ajax loader start-->
                                <div class="loading-overlay mt-2">
                                    <img src="/resources/images/loader.svg" width="60px" alt="loading animation">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 p-2">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h5 class="text-secondary fs-6 lh-1">Weekend Batches</h5>
                                <br/>
                                <div id="containerB"></div>

<!--                                <table class="custom-table" id="tblWeekEndBatches">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th></th>-->
<!--                                        <th>#</th>-->
<!--                                        <th>Code</th>-->
<!--                                        <th>Commence Date</th>-->
<!--                                        <th>End Date</th>-->
<!--                                        <th>Seat Count</th>-->
<!--                                        <th>Description</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    </tbody>-->
<!--                                </table>-->
                                <!-- Ajax loader start-->
                                <div class="loading-overlay mt-2">
                                    <img src="/resources/images/loader.svg" width="60px" alt="loading animation">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6 align-items-center d-flex">
                    <h5 class="card-title text-secondary" style="font-size: small;">Step 2 of 5</h5>
                </div>
                <div class="col-6">
                    <button class="btn btn-secondary float-end rounded-0  " onclick="next1()">Next <i class="fa-solid fa-chevron-right"></i></button>
                </div>

            </div>
        </div>
        <!-- Batch end-->

        <!-- Payment start-->
        <div class="card-footer" id="step-payment-str">
            <h5 class="card-title"
                style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">
                Available Payment Structures</h5>
            <div class="container-fluid d-flex justify-content-around p-1">
                <div class="w-100">
                    <div class="accordion rounded-0" id="accordionExample">
                        <!-- One time Payment start -->
                        <div class="accordion-item rounded-0">
                            <h2 class="accordion-header rounded-0" id="headingOne">
                                <button aria-controls="collapseOne" aria-expanded="true"
                                        class="accordion-button text-secondary bg-white rounded-0" data-bs-target="#collapseOne"
                                        data-bs-toggle="collapse"
                                        type="button">
                                    <i class="fa-solid fa-coins"></i>&nbsp; One Time Payment Plans
                                </button>
                            </h2>
                            <div aria-labelledby="headingOne" class="accordion-collapse collapse show rounded-0"
                                 data-bs-parent="#accordionExample" id="collapseOne">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-6 border p-2">
                                            <div class="w-100">
                                                <h6 class="text-secondary text-uppercase fw-bold">Discounts</h6>
                                            </div>

                                            <div class="form-check ms-2">
                                                <input checked class="form-check-input" id="radioStandardFullPayment"
                                                       name="flexRadioDefault" type="radio" onchange="calculateDiscount(this,registration.batchID.paymentPlanID.totalFee,registration.batchID.paymentPlanID.registrationFee,registration.batchID.paymentPlanID.courseFee,0)">
                                                <label class="form-check-label" for="radioStandardFullPayment">Standard
                                                    (0%)</label>
                                            </div>
                                            <div class="form-check ms-2">
                                                <input class="form-check-input" id="radioCashDiscountFullPayment"
                                                       name="flexRadioDefault" type="radio" onchange="calculateDiscount(this,registration.batchID.paymentPlanID.totalFee,registration.batchID.paymentPlanID.registrationFee,registration.batchID.paymentPlanID.courseFee,10)">
                                                <label class="form-check-label" for="radioCashDiscountFullPayment">10% for Cash
                                                    Payments</label>
                                            </div>
                                            <div class="form-check ms-2">
                                                <input class="form-check-input" id="radioCardDiscountFullPayment"
                                                       name="flexRadioDefault" type="radio" onchange="calculateDiscount(this,registration.batchID.paymentPlanID.totalFee,registration.batchID.paymentPlanID.registrationFee,registration.batchID.paymentPlanID.courseFee,7.5)">
                                                <label class="form-check-label" for="radioCardDiscountFullPayment">7.5% for Card
                                                    Payments (Visa)</label>
                                            </div>
                                        </div>
                                        <div class="col-6 border p-2">
                                            <div class="w-100">
                                                <h6 class="text-secondary text-uppercase fw-bold">Payment Breakdown</h6>
                                                <table class="table table-sm table-bordered mb-0">
                                                    <tbody>
                                                    <tr>
                                                        <th>Course Fee</th>
                                                        <td class="text-end" id="txtCourseFeeFullPayment"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Registration Fee</th>
                                                        <td class="text-end" id="txtRegistrationFeeFullPayment"></td>
                                                    </tr>

                                                    <tr>
                                                        <th id="lblDiscountFeeHeading">Discounted Fee</th>
                                                        <td class="text-end" id="txtTotalDiscountFeeFullPayment"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Total Fee</th>
                                                        <td class="text-end" id="txtTotalFeeFullPayment"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- One time Payment end -->

                        <!-- installments start -->
                        <div class="accordion-item rounded-0">
                            <h2 class="accordion-header" id="headingTwo">
                                <button aria-controls="collapseTwo" aria-expanded="false"
                                        class="accordion-button collapsed text-secondary bg-white rounded-0"
                                        data-bs-target="#collapseTwo"
                                        data-bs-toggle="collapse" type="button">
                                    <i class="fa-solid fa-money-bills"></i>&nbsp; Installments Plans
                                </button>
                            </h2>
                            <div aria-labelledby="headingTwo" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample" id="collapseTwo">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-6 border p-2">
                                            <div class="w-100">
                                                <h6 class="text-secondary text-uppercase fw-bold">Discounts</h6>
                                            </div>
                                            <div class="form-check ms-2">
                                                <input class="form-check-input" id="flexRadioDefault4"
                                                       name="flexRadioDefault" type="radio" onchange="calculateInstallments(this,registration.batchID.paymentPlanID.totalFee,registration.batchID.paymentPlanID.registrationFee,registration.batchID.paymentPlanID.courseFee,registration.batchID.paymentPlanID.numberOfInstallments)">
                                                <label class="form-check-label" for="flexRadioDefault4">Standard
                                                    (0%)</label>
                                            </div>
                                        </div>
                                        <div class="col-6 border p-2">
                                            <div class="w-100">
                                                <h6 class="text-secondary text-uppercase fw-bold">Payment Breakdown</h6>

                                                <table class="table table-sm table-bordered mb-0">
                                                    <tbody>
                                                    <tr>
                                                        <th>Course Fee</th>
                                                        <td class="text-end" id="txtCourseFeePartPayment"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Registration Fee</th>
                                                        <td class="text-end" id="txtRegistrationFeePartPayment"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Total Fee</th>
                                                        <td class="text-end" id="txtTotalFeePartPayment"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <div class="mt-3" id="installmentsDetails">
                                                    <h6 class="text-secondary text-uppercase fw-bold">Installments Breakdown</h6>
                                                    <table class="table custom-table text-center table-bordered table-striped d-none" id="tblInstallments">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Installment Amount (Rs.)</th>
                                                            <th>Due Date</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- installments end -->
                        <center>
                            <div class="btn btn-success mt-2 text-center text-uppercase rounded-0"
                                 data-bs-target="#staticModalBackdrop"
                                 data-bs-toggle="modal" id="btn-manual-discount"><i
                                    class="fas fa-plus mr-1"></i> Manual Discount
                            </div>
                            <!-- Modal -->
                            <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade"
                                 data-bs-backdrop="static" data-bs-keyboard="false" id="staticModalBackdrop"
                                 tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered rounded-0">
                                    <div class="modal-content rounded-0">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel"
                                                style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">
                                                Manual Discount</h5>
                                            <button aria-label="Close" class="btn btn-sm btn-close-red text-white rounded-0"
                                                    data-bs-dismiss="modal"
                                                    type="button"><i class="fas fa-times"></i></button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                        <div class="modal-footer d-flex justify-content-between">
                                            <button class="btn btn-secondary rounded-0" data-bs-dismiss="modal" type="button">
                                                Cancel
                                            </button>
                                            <button class="btn btn-success rounded-0" type="button">Request</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--modal end-->
                        </center>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6 align-items-center d-flex">
                    <h5 class="card-title text-secondary" style="font-size: small;">Step 3 of 5</h5>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary float-end rounded-0" onclick="next2()">Next</button>
                </div>

            </div>
        </div>
        <!-- Payment end-->

        <!-- Student start-->
        <div class="card-footer" id="step-student">
            <h5 class="card-title"
                style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Student
                Registry</h5>
            <div class="container-fluid d-flex justify-content-around p-1">
                <div class="input-group mx-2 mt-1">
                    <input autocomplete="off" class="form-control rounded-0" id="input-search-student" maxlength="20"
                           placeholder="Search by Student ID, NIC or Mobile No" required="required"
                           style="box-shadow: none!important;">
                    <button class="btn btn-secondary rounded-0 text-uppercase" id="btn-search-student" type="submit"><i
                            class="fas fa-search"></i> Search
                    </button>
                    <div class="w-100 mt-2 d-flex justify-content-center">
                        <!-- offcanvas trigger button-->
                        <div aria-controls="staticBackdrop" class="btn btn-success rounded-0 text-center text-uppercase"
                             data-bs-target="#staticBackdrop" data-bs-toggle="offcanvas" id="btn-new-student"><i
                                class="fas fa-plus mr-1"></i> New Student
                        </div>
                    </div>
                    <!-- offcanvas start (registration)-->
                    <div aria-labelledby="staticBackdropLabel" class="offcanvas offcanvas-end"
                         data-bs-backdrop="static" id="staticBackdrop" tabindex="-1">
                        <div class="offcanvas-header bg-custom-white">
                            <div>
                            <button aria-label="Close" id="offCanvasStudentCloseButton" class="btn btn-sm rounded-0 text-white btn-close-red" data-bs-dismiss="offcanvas"
                                    type="button"><i class="fas fa-times"></i></button>
                            <button class="btn btn-sm bg-secondary text-white rounded-0" onclick="resetStudentForm()" type="button"><i
                                    class="fas fa-refresh"></i>
                            </button>
                            </div>
                            <h3 class="float-end"
                                style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">
                                New Student Registration</h3>
                        </div>
                        <div class="offcanvas-body">
                            <div class="card rounded-0">
                                <!--
                                <div class="card-body bg-light  border-bottom-0">
                                    <div class="form-group mt-3">
                                        <div>
                                            <label for="radio-is-minor-age">Is a Minor Student?</label>
                                        </div>
                                        <div class="w-100 pl-1">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="student[is_minor]"
                                                       value="0" id="radio-is-minor-age" checked="&;checked&quot;">
                                                <label class="form-check-label font-weight-normal"
                                                       for="radio-is-minor-age">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="student[is_minor]"
                                                       value="1" id="radio-is-not-minor">
                                                <label class="form-check-label font-weight-normal"
                                                       for="radio-is-not-minor">Yes</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <div class="card-body">
                                    <form onsubmit="return false;" id="frmNewStudent">
                                        <h6 class="fw-bold mt-4">Student Details</h6>
                                        <hr>
                                        <div class="mb-3">
                                            <div class="form-label">
                                                <label class="fw-bold small required">Title</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" id="studentMr" name="studentTitle"
                                                       type="radio" value="Mr" onclick="automateGender()" onchange="newStudent.title=this.value">
                                                <label class="form-check-label" for="studentMr">Mr.</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" id="studentMs" name="studentTitle"
                                                       type="radio" value="MS" onclick="automateGender()" onchange="newStudent.title=this.value">
                                                <label class="form-check-label" for="studentMs">Ms.</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" id="studentMrs" name="studentTitle"
                                                       type="radio" value="Mrs" onclick="automateGender()" onchange="newStudent.title=this.value">
                                                <label class="form-check-label" for="studentMrs">Mrs.</label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-label">
                                                <label class="fw-bold small required" for="studentFullName">Full Name</label>
                                            </div>
                                            <input class="form-control rounded-0 newStudentInputs" id="studentFullName" required type="text" onkeyup="inputTextValidator(this,'^[A-Z][a-zA-Z]{5,} [A-Z][a-zA-Z]{5,} [A-Z][a-zA-Z]{5,} [A-Z][a-zA-Z]{5,}$','newStudent','fullName');automateInitials()">
                                            <div class="text-muted small">
                                                <small>As seen on the NIC, Passport or the Birth
                                                    Certificate</small>
                                            </div>
                                            <div class="valid-feedback">Value Accepted</div>
                                            <div class="invalid-feedback">Please provide a valid Full Name</div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-label">
                                                <label class="fw-bold small required" for="studentNameWithInitials">Name With Initials</label>
                                            </div>
                                            <input class="form-control rounded-0 newStudentInputs" id="studentNameWithInitials" onkeyup=" inputTextValidator(this,'^[A-Z][.][A-Z][.][A-Z][.][A-Z][a-z]{9,}$','newStudent','nameWithInitials')" type="text">
                                            <div class="text-muted small"><small>This Name Will Be Used As the Student's
                                                Certificate Name
                                            </small>
                                            </div>
                                            <div class="valid-feedback">Value Accepted</div>
                                            <div class="invalid-feedback">Please provide a valid Name with Initials</div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-label">
                                                <label class="fw-bold small required">Gender</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" id="radioMale" name="studentGender"
                                                       type="radio" value="Male" onchange="newStudent.gender = this.value">
                                                <label class="form-check-label" for="radioMale">Male</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" id="radioFemale" name="studentGender"
                                                       type="radio" value="Female" onchange="newStudent.gender = this.value">
                                                <label class="form-check-label" for="radioFemale">Female</label>
                                            </div>

                                        </div>
                                        <div class="mb-3">
                                            <div class="form-label">
                                                <label class="fw-bold required small" for="studentDOB">Date of Birth</label>
                                            </div>
                                            <div class="mb-3">
                                                <input class="form-control rounded-0 newStudentInputs" id="studentDOB" required
                                                       type="text">
                                                <div class="valid-feedback">Value Accepted</div>
                                                <div class="invalid-feedback">Please provide a valid Name with Initials</div>
                                            </div>

                                        </div>
                                        <div class="mb-3">
                                            <div class="form-label">
                                                <label class="fw-semibold small required" for="studentIdOption">ID Type</label>
                                            </div>
                                            <select class="form-select rounded-0" data-placeholder="Please Select a ID Type" onchange="selectStaticValueValidator(this,'','newStudent','idType')" id="studentIdOption">
                                                <option value=""></option>
                                                <option value="NIC">NIC</option>
                                                <option value="POSTAL">Postal</option>
                                            </select>
                                            <div class="valid-feedback rounded-2">Value Accepted</div>
                                            <div class="invalid-feedback rounded-2">Please provide a valid ID Type</div>
                                        </div>
                                            <div class="mb-3">
                                                <div class="form-label">
                                                    <label class="fw-semibold small required" for="studentID">ID Value</label>
                                                </div>
                                                <input class="form-control rounded-0 newStudentInputs" id="studentID" onkeyup="inputTextValidator(this,'^[6-9][0-9]{8}[x|X|v|V]|([1][9]|[2][0])[0-9]{10}$','newStudent','idValue')"
                                                       required type="text">
                                                <div class="valid-feedback rounded-2">Value Accepted</div>
                                                <div class="invalid-feedback rounded-2">Please provide a valid ID</div>
                                            </div>

                                        <h6 class="fw-bold  mt-4">Communication Preferences</h6>
                                        <hr>
                                        <div class="mb-3 mt-4">
                                            <div class="form-label">
                                                <label class="fw-semibold small required" for="studentLang">Preferred Language</label>
                                            </div>
                                            <div>
                                                <select class="form-select rounded-0" data-placeholder="Please Select a Language" onchange="selectStaticValueValidator(this,'','newStudent','language')" id="studentLang">
                                                    <option value=""></option>
                                                    <option value="Sinhala">සිංහල</option>
                                                    <option value="Tamil">தமிழ்</option>
                                                    <option value="English">English</option>
                                                </select>
                                                <div class="text-muted small"><small>Preferred language for communication.</small></div>
                                                <div class="valid-feedback rounded-2">Value Accepted</div>
                                                <div class="invalid-feedback rounded-2">Please provide a valid Language</div>
                                            </div>


                                        </div>
                                        <h6 class="fw-bold mt-4">Contact Details</h6>
                                        <hr>
                                        <div class="mb-3 mt-4">
                                            <div class="form-label">
                                                <label class="fw-bold required small" for="studentMobileNumber">Mobile Number</label>
                                            </div>
                                            <input class="form-control rounded-0 newStudentInputs" id="studentMobileNumber" onkeyup="inputTextValidator(this,'^[0][7][01245678][0-9]{7}$','newStudent','mobileNumber')"
                                                   required type="text">
                                            <div class="text-muted small"><small>An OTP will be sent to the above mobile
                                                number for the verification process.</small>
                                            </div>
                                            <div class="valid-feedback rounded-2">Value Accepted</div>
                                            <div class="invalid-feedback rounded-2">Please provide a valid Mobile Number</div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-label">
                                                <label class="fw-bold small" for="studentEmail">Email Address</label>
                                            </div>
                                            <input class="form-control rounded-0 newStudentInputs" id="studentEmail" onkeyup="inputTextValidator(this,'^[a-z|A-Z]{2,19}[@][a-z|A-Z]{2,8}[.][a-z|A-Z]{2,3}$','newStudent','email')" placeholder="Optional"
                                                   type="text">
                                            <div class="valid-feedback rounded-2">Value Accepted</div>
                                        <div class="invalid-feedback rounded-2">Please provide a valid Email</div>
                                        </div>
                                        <div class="card-group mt-2">
                                            <div class="card rounded-0">
                                                <div class="card-header pb-0 p-2">
                                                    <h5 class="fs-6 fw-bold text-center">ADDRESS </h5>
                                                </div>
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <div class="form-label">
                                                            <label class="fw-bold required small" for="studentAddressLine1">Address Line 1</label>
                                                        </div>
                                                        <input class="form-control rounded-0 newStudentInputs" id="studentAddressLine1" onkeyup="inputTextValidator(this,'','newStudent','addressLine1')" type="text">
                                                        <div class="text-muted small"><small>
                                                            Example: 123 Main Street
                                                        </small>
                                                        </div>
                                                        <div class="valid-feedback rounded-2">Value Accepted</div>
                                                        <div class="invalid-feedback rounded-2">Please provide a valid Address Line</div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-label">
                                                            <label class="fw-bold small" for="studentAddressLine2">Address Line 2</label>
                                                        </div>
                                                        <input class="form-control rounded-0 newStudentInputs" id="studentAddressLine2"
                                                               placeholder="Optional" type="text" onkeyup="inputTextValidator(this,'','newStudent','addressLine2')">
                                                        <div class="valid-feedback rounded-2">Value Accepted</div>
                                                        <div class="invalid-feedback rounded-2">Please provide a valid Address Line</div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-label">
                                                            <label class="fw-bold required small" for="studentCity">City</label>
                                                        </div>
                                                        <input class="form-control rounded-0 newStudentInputs" onkeyup="inputTextValidator(this,'^[A-Z][a-z]{4,}$','newStudent','city')" id="studentCity"
                                                              type="text">
                                                        <div class="text-muted small"><small>Certificate & all other course materials
                                                            will be sent to the above address</small>
                                                        </div>
                                                        <div class="valid-feedback rounded-2">Value Accepted</div>
                                                        <div class="invalid-feedback rounded-2">Please provide a valid City</div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <h6 class="fw-bold mt-4">Guardian Details</h6>
                                        <hr>
                                        <div class="mb-3">
                                            <div class="form-label">
                                                <label class="fw-bold required small" for="studentGuardianName">Name</label>
                                            </div>
                                            <input class="form-control rounded-0 newStudentInputs" id="studentGuardianName" onkeyup="inputTextValidator(this,'^[A-Z][a-z]{4,}[ ][A-Z][a-z]{5,}$','newStudent','guardianName')" type="text">
                                            <div class="text-muted small"><small>Name of the Guardian</small></div>
                                            <div class="valid-feedback rounded-2">Value Accepted</div>
                                            <div class="invalid-feedback rounded-2">Please provide a valid Guardian Name</div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-label">
                                                <label class="fw-bold required small" for="studentGuardianRelationship">Relationship</label>
                                            </div>
                                            <div>
                                                <select class="form-select rounded-0" data-placeholder="Please Select a Relationship" onchange="selectStaticValueValidator(this,'','newStudent','guardianRelationship')" id="studentGuardianRelationship">
                                                    <option value=""></option>
                                                    <option value="Mother">Mother</option>
                                                    <option value="Father">Father</option>
                                                    <option value="Spouse">Spouse</option>
                                                    <option value="Sibling">Sibling</option>
                                                    <option value="Cousin">Cousin</option>
                                                    <option value="Legal Guardian">Legal Guardian</option>
                                                </select>
                                                <div class="text-muted small"><small>Relationship to the Student</small></div>
                                                <div class="valid-feedback rounded-2">Value Accepted</div>
                                                <div class="invalid-feedback rounded-2">Please provide a valid Relationship</div>
                                            </div>

                                        </div>
                                        <div class="mb-3">
                                            <div class="form-label">
                                                <label class="fw-bold required small" for="studentGuardianContact">Contact
                                                    Number</label>
                                            </div>
                                            <input class="form-control rounded-0 newStudentInputs" id="studentGuardianContact" onkeyup="inputTextValidator(this,'^[0][7][01245678][0-9]{7}$','newStudent','guardianContactNumber')" required type="text">
                                            <div class="text-muted small"><small>Will be used to contact in case of an
                                                Emergency.</small>
                                            </div>
                                            <div class="valid-feedback rounded-2">Value Accepted</div>
                                            <div class="invalid-feedback rounded-2">Please provide a valid Contact Number</div>

                                        </div>
                                        <div class="mb-3 text-center">
                                            <button class="btn bg-steam-green text-white rounded-0 btn-block w-100" id="studentConfirm"
                                                    onclick="newStudentSubmit()" type="submit">Confirm
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- offcanvas end -->
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6 align-items-center d-flex">
                    <h5 class="card-title text-secondary" style="font-size: small;">Step 4 of 5</h5>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary float-end rounded-0" onclick="next3()">Next</button>
                </div>

            </div>
        </div>
        <!-- Student end-->

        <!-- Add Payment start-->
        <div class="card-footer" id="step-add-payment">
            <h5 class="card-title"
                style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Add
                Payment</h5>
            <div class="container-fluid d-flex justify-content-around p-1">
                <div class="custom-course"></div>
                <div class="custom-course"></div>
                <div class="custom-course"></div>
                <div class="custom-course"></div>
            </div>
            <center>
                <div class="btn btn-success mt-2 text-center text-uppercase rounded-0"><i class="fas fa-plus mr-1"></i> Add
                    Payment
                </div>
            </center>
            <div class="row mt-2">
                <div class="col-6 align-items-center d-flex">
                    <h5 class="card-title text-secondary" style="font-size: small;">Step 5 of 5</h5>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary float-end rounded-0" onclick="next4()">Print <i class="fa-solid fa-print"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Add Payment end-->

    </div>
</div>
<script src="/resources/js/external-validator.js" type="text/javascript"></script>
<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/new-registration.js"></script>
<script>
    $(document).ready(function () {

        //reset chosen select using jquery
        $('button[type=reset]').on('click', function () {
            setTimeout(function () {
                $('select').trigger('chosen:updated');
            }, 0);
        });
    });
</script>
</body>
</html>
