<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: headFragment}"></head>
<body>
<!--Loader-->
<div th:replace="~{fragments/loader :: loader}"></div>
<!-- Nav Bar Start -->
<nav th:replace="~{ fragments/navbarAdministration :: navbarAdministrationFragment}"></nav>
<!-- Nav Bar End -->

<!-- Display Current Page /breadcrumbs -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Manage Payment</h5>
</div>

<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body rounded-0 mb-3">
            <form onsubmit="return false;" class="mb-2">
                <div class="row align-items-center d-flex justify-content-evenly">
                    <div class="col-12 col-lg-4">
                        <label class="text-uppercase text-muted small m-0 p-0" for="registrationSearchDateRange">Date Range</label>
                        <div class="input-group">
                            <span class="input-group-text text-black bg-custom-white rounded-0"><i class="fa-solid fa-calendar-week"></i></span>
                            <input class="form-control rounded-0" style="width: 235px;flex: none" id="registrationSearchDateRange" placeholder="Date Range" />
                            <button class="btn bg-steam-green rounded-0 text-white" id=""  onclick="getPayment()" type="submit"><i class="fa-solid fa-magnifying-glass small"></i></button>
                            <button class="btn btn-close-red rounded-0 text-white ms-3" id="btn-reset" type="reset">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <!--                        <label class="text-uppercase small m-0 p-0 text-muted" >Search</label>-->
                        <div class="input-group">
                            <div class="d-flex align-items-center justify-content-evenly">

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <!--                        <label class="text-uppercase text-muted small m-0 p-0" for="registrationSearchCourse">Filters</label>-->
                        <!--                        <div class="input-group">-->
                        <!--                            <span class="input-group-text bg-custom-white rounded-0"><i class="fa-solid fa-filter"></i></span>-->
                        <!--                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Sort by a Course" onchange="getBatches()" id="registrationSearchCourse">-->

                        <!--                            </select>-->
                        <!--                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Please Select Course First" id="registrationSearchBatch">-->

                        <!--                            </select>-->
                        <!--                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Sort by a Payment Type" id="registrationSearchPaymentMethod">-->

                        <!--                            </select>-->
                        <!--                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Sort by a Cashier" id="registrationSearchUser">-->

                        <!--                            </select>-->
                        <!--                        </div>-->
                    </div>

                </div>
            </form>

        </div>
        <div class="card-footer show pt-4 pb-4">
            <h4 class="text-center fw-bold" style="font-family: Arial,serif;text-transform: uppercase;font-size: medium">Display Payment Info</h4>
            <table class="custom-table text-start" id="tblPayment">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Cashier</th>
                    <th>Payment Method</th>
                    <th>Time</th>
                    <th>Registration</th>
                    <th>Student</th>
                    <th>Course</th>
                    <th>Receipt</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!-- Ajax loader start-->
            <div class="loading-overlay mt-2">
                <img alt="loading animation" src="/resources/images/loader.svg" width="60px">
            </div>
        </div>
    </div>
</div>

<!-- Off canvas for batch details start-->
<div aria-labelledby="offcanvasRightLabel" class="offcanvas offcanvas-end w-50" data-bs-backdrop="static"
     id="offcanvasPaymentSheet" tabindex="-1">
    <div class="offcanvas-header bg-custom-white">
        <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0"
                data-bs-dismiss="offcanvas" id="offcanvasPaymentSheetCloseBtn"
                type="button"><i class="fas fa-times"></i></button>
        <div class="container d-flex gap-3 ms-1" style="width: 55%">
            <button class="btn btn-sm bg-info rounded-0 text-white" id="btnPaymentSheetEdit" onclick="paymentEdit()"><i
                    class="fa-regular fa-pen-to-square"></i> Edit Info
            </button>
            <button class="btn btn-sm bg-warning rounded-0 text-white" id="btnPaymentSheetUpdate" onclick="paymentUpdate()"><i
                    class="fa-solid fa-arrows-rotate"></i> Update
            </button>
            <button class="btn btn-sm bg-danger rounded-0 text-white" id="btnPaymentSheetDelete" onclick="paymentDelete()"><i class="fa-solid fa-trash"></i>
                Delete
            </button>
        </div>
        <h3 class="align-items-center text-nowrap ms-3 mt-2"
            style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Payment Details</h3>
    </div>
    <div class="offcanvas-body">
        <table class="table table-bordered table-responsive mb-0">
            <tbody class="small align-middle">
            <tr>
                <td class="fw-bold w-25">Student Name</td>
                <td >
                    <p class="small mb-0" id="paymentSheetStudentName" style="font-size: .875rem;padding-left:.5rem"></p>
                </td>
            </tr>
            <tr>
                <td class="fw-bold w-25">Registration Number</td>
                <td>
                    <p class="small mb-0" id="paymentSheetRegistrationNumber" style="font-size: .875rem;padding-left:.5rem"></p>
                </td>
            </tr>
            <tr>
                <td class="fw-bold w-25">Course</td>
                <td >
                    <p class="small mb-0" id="paymentSheetCourse" style="font-size: .875rem;padding-left:.5rem"></p>
                </td>
            </tr>
            <tr>
                <td class="fw-bold w-25">Batch</td>
                <td>
                    <p class="small mb-0" id="paymentSheetBatch" style="font-size: .875rem;padding-left:.5rem"></p>
                </td>
            </tr>
            <tr>
                <td class="fw-bold w-25">Amount</td>
                <td class="" colspan="">
                    <input class="small rounded-0 form-control-sm paymentSheetInputs" id="paymentSheetAmount" onkeyup="inputTextValidator(this,'^[1-9][0-9]{1,6}$','editedPayment','amount')" disabled required>
                    <div class="valid-feedback">Value Accepted</div>
                    <div class="invalid-feedback">Please provide a valid Status</div>
                </td>

            </tr>
            <tr>
                <td class="fw-bold w-25">Payment Method</td>
                <td class="" colspan="">
                    <select class="paymentSheetInputs form-select rounded-0 small form-select-sm" id="paymentSheetMethod"   disabled required onchange="selectDynamicValueValidator(this,'','editedPayment','paymentTypeID')">

                    </select>
                    <div class="valid-feedback">Value Accepted</div>
                    <div class="invalid-feedback">Please provide a valid Requirement</div>
                </td>
            </tr>

            <tr>
                <td class="fw-bold w-25">Cashier</td>
                <td class="" colspan="">
                    <p class="small mb-0" id="paymentSheetCashier" style="font-size: .875rem;padding-left:.5rem"></p>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
</div>

<!--Toast-->
<div class="position-fixed top-0 end-0 p-2" style="z-index: 1055">
    <div id="myToast" class="toast hide bg-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body text-capitalize fw-bold">
            The currently highlighted data are editable
        </div>
    </div>
</div>

<script src="/resources/js/external-validator.js" type="text/javascript"></script>
<script src="/resources/js/external-loader.js" type="text/javascript"></script>
<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/payment.js" type="text/javascript"></script>
<script th:replace="~{ fragments/logout :: logoutScript}"></script>
</body>
</html>