<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: headFragment}"></head>
<head>
    <style>
        fieldset, legend {
            all: revert;
        }

        fieldset {
            border-color: #ccc;
            border-style: solid;
        }
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background-color: white;
        }

        #pills-home-tab.nav-link.active {
            color: #19459D!important;
            border-bottom: 3px solid#19459D!important;
        }

        #pills-course-tab.nav-link.active {
            color: red!important;
            border-bottom: 3px solid red!important;
        }

        #pills-payment-tab.nav-link.active {
            color: rgb(25, 135, 84)!important;
            border-bottom: 3px solid rgb(25, 135, 84)!important;
        }

        .nav-link {
            color: black;
        }
        #registrationSheetStudentID:hover{
            cursor: pointer;
        }
        .exam-table tbody td{
            text-align: center;
        }
        .exam-table tbody td:nth-child(1){
            text-align: left;
        }
        #paymentAmount{
            min-width: 85%!important;
        }
        #paymentRupees{
            max-width: 15%!important;
        }
    </style>

</head>
<body>
<!--Loader Start-->
<div th:replace="~{fragments/loader :: loader}"></div>
<!-- Loader end-->

<!--Navbar start-->
<nav th:replace="~{ fragments/navbar :: navbarFragment}"></nav>
<!--Navbar end-->

<!-- Display Current Page -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Manage Registrations</h5>
</div>

<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body mb-3">
            <form onsubmit="return false;">
                <div class="row align-items-center d-flex justify-content-around">
                    <div class="col-12 col-lg-auto m-lg-0 p-0 ms-lg-2 ms-sm-0 mb-1">
                        <label class="text-uppercase text-muted small m-0 p-0" for="registrationSearchDateRange">Date Range</label>
                        <div class="input-group">
                            <span class="input-group-text text-black bg-custom-white rounded-0"><i class="fa-solid fa-calendar-week"></i></span>
                            <input class="form-control rounded-0" style="width: 235px;" id="registrationSearchDateRange" placeholder="Date Range" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-auto m-0 p-0">
                        <label class="text-uppercase text-muted small m-0 p-0" for="registrationSearchCourse">Filters</label>
                        <div class="input-group">
                            <span class="input-group-text bg-custom-white rounded-0"><i class="fa-solid fa-filter"></i></span>
                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Sort by a Course" id="registrationSearchCourse">

                            </select>
                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Sort by a Status" id="registrationSearchStatus">

                            </select>
                            <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Sort by a Counsellor" id="registrationSearchCounsellor">

                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1">
                        <label class="text-uppercase small m-0 p-0 text-muted" for="inquirySearchID">Search</label>
                        <div class="input-group">
                            <span class="input-group-text bg-custom-white rounded-0"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input class="form-control rounded-0" id="inquirySearchID" placeholder="Registration Number, Mobile Number or NIC" />
                            <div class="d-flex align-items-center justify-content-evenly">
                                <button class="btn bg-steam-green rounded-0 text-white" id="" type="submit"><i class="fa-solid fa-magnifying-glass small"></i></button>
                                <button class="btn btn-close-red rounded-0 text-white ms-3" id="btn-reset" type="reset">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer show pt-4 pb-4 overflow-auto">
             <h4 class="text-center fw-bold" style="font-family: Arial,serif;text-transform: uppercase;font-size: medium">Search Registration Info / <small class="text-muted">No records</small></h4>
            <table class="custom-table" id="tblInquiry">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Registration Number</th>
                    <th>Student</th>
                    <th>Course / Batch</th>
                    <th>Contact Number</th>
                    <th>Date Created</th>
                    <th>Creator</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!-- Ajax loader start-->
            <div class="loading-overlay mt-2">
                <img alt="loading animation" src="/resources/images/loader.svg" width="60px">
            </div>
            <!-- Ajax loader end-->
        </div>
    </div>
</div>

<!-- Off canvas for registrations details start-->
<div aria-labelledby="offcanvasRightLabel" class="offcanvas offcanvas-end w-50" data-bs-backdrop="static"
     id="offcanvasRegistrationSheet" tabindex="-1">
    <div class="offcanvas-header bg-custom-white">
        <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0"
                data-bs-dismiss="offcanvas" id="offcanvasRegistrationSheetCloseButton"
                type="button"><i class="fas fa-times"></i></button>
        <div class="container d-flex gap-3 ms-1" style="width: 55%">
            <button class="btn btn-sm bg-info rounded-0 text-white" onclick="registrationEdit()"><i
                    class="fa-regular fa-pen-to-square"></i> Edit Info
            </button>
            <button class="btn btn-sm bg-warning rounded-0 text-white" id="btnRegistrationSheetUpdate" onclick="registrationUpdate()"><i
                    class="fa-solid fa-arrows-rotate"></i> Update
            </button>
            <button class="btn btn-sm bg-danger rounded-0 text-white" id="btnRegistrationSheetDelete" onclick=""><i class="fa-solid fa-trash"></i>
                Delete
            </button>
        </div>
        <h3 class="align-items-center text-nowrap ms-3 mt-2"
            style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Registration
            Details</h3>
    </div>
    <div class="offcanvas-body">
        <div class="mb-2 border p-2 text-capitalize small alert alert-warning rounded-0 d-none" style="width: 99%;" id="extraInformationForRegistration">
            <div class="row m-0">
                <div class="col-11">
                    This registration is under review for a registration override <br>
                    <span class="fw-bold">Reason : </span><span id="reasonForOverride">Test Reason</span>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-circle-exclamation text-warning mb-0 h3 fa-bounce"></i>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation" style="width: 33%">
                <button aria-controls="pills-home" aria-selected="true" class="nav-link w-100 active rounded-0 border-1 border border-grey text-muted"
                        data-bs-target="#pills-info" data-bs-toggle="pill" id="pills-home-tab" role="tab"
                        type="button"><i class="fa-solid fa-circle-info"></i> Info
                </button>
            </li>
            <li class="nav-item" role="presentation" style="width: 33%">
                <button aria-controls="pills-profile" aria-selected="false" class="nav-link w-100 rounded-0 bg-custom-white border-1 border border-grey text-muted"
                        data-bs-target="#pills-course" data-bs-toggle="pill" id="pills-course-tab" role="tab"
                        type="button"><i class="fa-solid fa-graduation-cap"></i> Course
                </button>
            </li>
            <li class="nav-item" role="presentation" style="width: 33%">
                <button aria-controls="pills-profile" aria-selected="false" class="nav-link w-100 rounded-0 bg-custom-white border-1 border border-grey text-muted"
                        data-bs-target="#pills-payment" data-bs-toggle="pill" id="pills-payment-tab" role="tab"
                        type="button"><i class="fa-solid fa-dollar-sign"></i> Payment
                </button>
            </li>

        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div aria-labelledby="pills-home-tab" class="tab-pane fade show active" id="pills-info" role="tabpanel"
                 tabindex="0">
                <div class="card rounded-0 mt-0 border-0 border-start border-end border-bottom" style="width: 99%">
                    <div class="card-body rounded-0 border-0 p-0">
                        <div class="text-center w-75 mx-auto mt-2">
                            <span class="align-items-center display-3" id="registrationSheetCode" style="text-transform: uppercase;font-weight: bold;font-family: Arial, serif;">00001</span>
                            <p class="text-muted small lh-sm">Registered On <span id="registrationSheetJoinedDateText">2024-04-22</span></p>
                        </div>
                        <table class="table table-bordered table-responsive mb-0 mx-2" style="width: 98%;">
                            <tbody class="small align-middle">
                            <tr>
                                <td class="fw-bold w-25">Student ID</td>
                                <td>
                                    <a class="small rounded-0 form-control-sm border-0 text-black" data-bs-target="#staticModalBackdrop" data-bs-toggle="modal" id="registrationSheetStudentID" href="/Student/edit" target="_blank"></a>
                                </td>
                                <td class="fw-bold w-25">Student Name</td>
                                <td>
                                    <input type="text" class="small rounded-0 form-control-sm border-0 text-black" id="registrationSheetStudentName" disabled >
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid Calling Name</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold w-25">Course</td>
                                <td class="w-25">
                                    <input type="text"  class="small rounded-0 form-control-sm border-0 text-black" id="registrationSheetCourse" disabled required>
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid NIC</div>
                                </td>
                                <td class="fw-bold w-25">Batch</td>
                                <td>
                                    <input type="text"  class="small rounded-0 form-control-sm border-0 text-black" id="registrationSheetBatch" disabled required >
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid DOB</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold w-25">Registered By</td>
                                <td class="w-25">
                                    <input type="text"  class="small rounded-0 form-control-sm border-0 text-black" id="registrationSheetRegisteredBy" disabled required>
                                </td>
                                <td class="fw-bold w-25">Commission Paid to</td>
                                <td>
                                    <input type="text" class="small rounded-0 form-control-sm border-0 text-black" id="registrationSheetCommission" disabled required >
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold w-25">Payment Mode</td>
                                <td class="w-25">
                                    <input type="text"  class="small rounded-0 form-control-sm border-0 text-black" id="registrationSheetPayment" disabled required>
                                </td>
                                <td class="fw-bold w-25">Status</td>
                                <td>
                                    <select class="registrationSheetInputs form-select rounded-0 small form-select-sm px-0 ps-2" id="registrationSheetStatus" onchange="selectDynamicValueValidator(this,'','editedRegistration','tempRegistrationStatus')" disabled>

                                    </select>
                                    <div class="valid-feedback">Value Accepted</div>
                                    <div class="invalid-feedback">Please provide a valid DOB</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold w-25">Discount Rate</td>
                                <td class="w-25">
                                    <input type="text"  class="small rounded-0 form-control-sm border-0 text-black" id="registrationSheetDiscountRate" disabled required>
                                </td>
                                <td class="fw-bold w-25">Discount Amount</td>
                                <td>
                                    <input type="text"  class="small rounded-0 form-control-sm border-0 text-black" id="registrationSheetDiscountAmount" disabled required >
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="border border-bottom-0 m-2">
                            <h5 class="small text-steam-green fw-bold border-bottom-0 p-2 mb-0 bg-custom-white" id="paymentSummaryHeadingText"><i class="fa-solid fa-list"></i> Payment Summary
                                <span class="float-end text-steam-green inline-block" id="paymentSummaryHeadingIcon"><i class="fa-solid fa-circle-chevron-up"></i></span>
                            </h5>
                            <table class="table table-bordered mb-0 text-center small" id="tblPaymentSummary">
                                <thead>
                                <tr>
                                    <th>Total Payable</th>
                                    <th>Already Paid Total</th>
                                    <th>Total Outstanding</th>

                                </tr>
                                </thead>
                                <tbody class="align-middle">
                                <tr>
                                    <td id="paymentSummaryFullAmount">Rs.50000</td>
                                    <td id="paymentSummaryPaidAmount">Rs.50000</td>
                                    <td id="paymentSummaryBalanceAmount">Rs.50000</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-labelledby="pills-home-tab" class="tab-pane fade" id="pills-course" role="tabpanel"
                 tabindex="0">
                <div class="card rounded-0 mt-0 border-0 border-start border-end border-bottom" style="width: 99%">
                    <div class="card-body rounded-0 border-0 p-0">
                        <table class="table table-borderless table-responsive mt-2 mb-0 mx-2" style="width: 98%;border: 1px solid #ddd">
                            <tbody class="small align-middle">
                            <tr>
                                <td class="fw-bold w-25">Name for Certification</td>
                                <td>
                                    <i class="fas fa-check-circle" style="color:#2eab3d;"></i>
                                    <span id="studentCourseTabNameWithInitials"></span>
                                </td>


                                <td class="fw-bold w-25">Batch Code</td>
                                <td>
                                    <span id="studentCourseTabBatchCode"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold w-25">Marks Verification</td>
                                <td>
                                    <i class="fas fa-exclamation-circle text-warning"></i>
                                    Pending
                                </td>

                                <td class="fw-bold w-25">Lecturer</td>
                                <td>
                                    <span id="studentCourseTabLecturer"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold w-25">Certification Status</td>
                                <td>
                                    <i class="fas fa-question-circle text-secondary"></i>
                                    Pending
                                </td>
                                <td class="fw-bold w-25">TimeTable</td>
                                <td>
                                    <span id="studentCourseTabTimeTable"></span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="m-2 border border-bottom-0">
                        <h5 class="small text-steam-green fw-bold p-2 border-bottom-0 mb-0 bg-custom-white" id="curriculumHeadingText"><i class="fa-solid fa-list"></i> Curriculum
                            <span class="float-end text-steam-green inline-block" id="curriculumHeadingIcon"><i class="fa-solid fa-circle-chevron-up"></i></span>
                        </h5>
                        <table class="table table-responsive mb-0 border-top" id="tblCurriculum">
                            <thead></thead>
                            <tbody class="small align-middle">
                            <tr>
                                <td > <i class="fa-solid fa-chevron-right"></i> Test 01</td>
                            </tr>
                            <tr>
                                <td > <i class="fa-solid fa-chevron-right"></i> Test 02</td>
                            </tr>
                            <tr>
                                <td > <i class="fa-solid fa-chevron-right"></i> Test 03</td>
                            </tr>
                            <tr>
                                <td> <i class="fa-solid fa-chevron-right"></i> Test 04</td>
                            </tr>
                            <tr>
                                <td> <i class="fa-solid fa-chevron-right"></i> Test 05</td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <div class="m-2 border border-bottom-0">
                        <h5 class="small text-steam-green fw-bold border-bottom-0 p-2 mb-0 bg-custom-white" id="marksHeadingText"><i class="fa-solid fa-list"></i> Exam Marks
                            <span class="float-end text-steam-green inline-block" id="marksHeadingIcon"><i class="fa-solid fa-circle-chevron-up"></i></span>
                        </h5>
                            <table class="table table-bordered mb-0 exam-table" id="tblMarks">
                                <thead class="small">
                                <tr>
                                    <th>#</th>
                                    <th>Module</th>
                                    <th class="text-center text-nowrap" style="width: 120px">
                                        Date Evaluated
                                    </th>
                                    <th class="text-center" style="width: 50px">Marks</th>
                                    <th class="text-center" style="width: 50px">Result</th>
                                    <th class="text-center">Status</th>
                                </tr>
                                </thead>
                                <tbody class="small align-middle">
                                <tr>
                                    <td>Information Technology Concepts</td>
                                    <td>2024-05-01</td>
                                    <td>100%</td>
                                    <td>Pass</td>
                                    <td>Not-verified</td>
                                </tr>
                                <tr>
                                    <td>Information Technology Concepts</td>
                                    <td>2024-05-01</td>
                                    <td>100%</td>
                                    <td>Pass</td>
                                    <td>Not-verified</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-labelledby="pills-home-tab" class="tab-pane fade" id="pills-payment" role="tabpanel"
                 tabindex="0">
                <div class="card rounded-0 mt-0 border-0 border-start border-end border-bottom" style="width: 99%">
                    <div class="card-body rounded-0 border-0 p-0">
                        <table class="table table-borderless table-responsive mt-2 mb-0 mx-2" style="width: 98%;border: 1px solid #ddd">
                            <tbody class="small align-middle">
                            <tr>
                                <td class="fw-bold w-25" >Payment Status</td>
                                <td class="w-25" id="studentPaymentTabStatus"></td>
                                <td class="fw-bold text-center w-25" rowspan="2">Discount</td>
                                <td class="w-25" rowspan="2" id="studentPaymentTabDiscount"></td>
                            </tr>
                            <tr>
                                <td class="fw-bold w-25">Payment Plan</td>
                                <td class="w-25 text-start" id="studentPaymentTabPlan"></td>
                            </tr>

                            </tbody>
                        </table>

                        <div class="m-2 border border-bottom-0">
                            <h5 class="small text-steam-green fw-bold p-2 border-bottom-0 mb-0 bg-custom-white" id="paymentBreakdownHeadingText"><i class="fa-solid fa-list"></i> Payment Breakdown
                                <span class="float-end text-steam-green inline-block" id="paymentBreakdownHeadingIcon"><i class="fa-solid fa-circle-chevron-up"></i></span>
                            </h5>
                            <table class="table table mb-0 text-center border-top" id="tblPaymentBreakdown">
                                <tbody class="small align-middle">
                                <tr class="border-0">
                                    <td class="fw-bold text-start border-0">Course Fee</td>
                                    <td class="text-end border-0  border-start" id="studentPaymentTabCourseFee">Rs. 47,000.00</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold text-start border-0">Registration Fee</td>
                                    <td class="text-end border-0  border-start" id="studentPaymentTabRegFee">Rs. 3,000.00</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold text-start border-0">Discounts</td>
                                    <td class="text-end border-0 border-start" id="studentPaymentTabDiscounts">- Rs. 3,000.00</td>
                                </tr>
                                <tr class="bg-custom-white">
                                    <td class="fw-bold text-start border">Total Payable</td>
                                    <td class="text-end border" id="studentPaymentTabTotalFee">Rs. 3,000.00</td>
                                </tr>
                                <tr class="bg-custom-white">
                                    <td class="fw-bold text-start border">Already Paid Total</td>
                                    <td class="text-end border" id="studentPaymentTabAlreadyPaidFee">Rs. 3,000.00</td>
                                </tr>
                                <tr class="bg-custom-white">
                                    <td class="fw-bold text-start border">Total Balance</td>
                                    <td class="text-end border" id="studentPaymentTabBalanceFee">Rs. 3,000.00</td>
                                </tr>
                                <tr class="bg-custom-white">
                                    <td class="fw-bold text-start border">Total Dues</td>
                                    <td class="text-end border" id="studentPaymentTabDues">Rs. 3,000.00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="border border-bottom-0 m-2">
                            <h5 class="small text-steam-green fw-bold border-bottom-0 p-2 mb-0 bg-custom-white" id="installmentSummaryHeadingText"><i class="fa-solid fa-list"></i> Installment Plan
                                <span class="float-end text-steam-green inline-block" id="installmentSummaryHeadingIcon"><i class="fa-solid fa-circle-chevron-up"></i></span>
                            </h5>
                            <table class="table table-bordered mb-0 text-center" id="tblInstallments">
                                <thead>
                                <tr>
                                    <th class="small">Installment</th>
                                    <th class="small">Amount</th>
                                    <th class="small">Due Date</th>
                                    <th class="small">Paid Amount</th>
                                    <th class="small">Balance</th>
                                    <th class="small">Status</th>

                                </tr>
                                </thead>
                                <tbody class="small align-middle">
                                <tr>
                                    <td colspan="6">This Registration Does Not Contain Installments</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!--Button for add new payment-->
                        <button class="btn btn-sm btn-success rounded-0 mx-auto d-block mb-2" id="btn-add-payment" data-bs-target="#modalAddPayment" data-bs-toggle="modal">
                            <i class="fas fa-plus"></i> Add Payment
                        </button>

                        <div class="border border-bottom-0 m-2">

                            <h5 class="small text-steam-green fw-bold border-bottom-0 p-2 mb-0 bg-custom-white" ><i
                                    class="fa-solid fa-list"></i> Payment History
                                <span class="float-end text-steam-green inline-block" ><i class="fa-solid fa-circle-chevron-up"></i></span>
                            </h5>
                            <table class="table table-bordered mb-0 text-center" id="tblPaymentHistory">
                                <thead>
                                <tr>
                                    <th class="small">#</th>
                                    <th class="small">Date Paid</th>
                                    <th class="small">Payment Method</th>
                                    <th class="small">Amount</th>
                                    <th class="small">Added By</th>
                                    <th class="small">Invoice</th>

                                </tr>
                                </thead>
                                <tbody class="small align-middle">
                                <tr>
                                    <td>1</td>
                                    <td>2024-05-03</td>
                                    <td>Cash</td>
                                    <td>Rs. 5,0000.00</td>
                                    <td>User1</td>
                                    <td>
                                        <button class="btn btn-sm btn-secondary rounded-0 small" style="width: 30px;height: 30px;"
                                                onclick="window.location.href='invoice.html'">
                                            <i class="fa-solid fa-print small"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


<!-- Off canvas for registrations details end-->

<!--Modal for student edit start-->
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade"
     data-bs-backdrop="static" data-bs-keyboard="false" id="staticModalBackdrop"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered rounded-0 modal-lg">
        <div class="modal-content rounded-0">
            <div class="modal-header bg-custom-white">
                <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0" data-bs-dismiss="modal" type="button"><i class="fas fa-times"></i></button>
                <div class="container d-flex gap-3 ms-1" style="width: 55%">
                    <button class="btn btn-sm bg-info rounded-0 text-white" onclick=""><i
                            class="fa-regular fa-pen-to-square"></i> Edit Info
                    </button>
                    <button class="btn btn-sm bg-warning rounded-0 text-white" id="btnStudentModalUpdate" onclick=""><i
                            class="fa-solid fa-arrows-rotate"></i> Update
                    </button>
                    <button class="btn btn-sm bg-danger rounded-0 text-white" id="btnStudentModalDelete" onclick=""><i class="fa-solid fa-trash"></i>
                        Delete
                    </button>
                </div>
                <h3 class="align-items-center text-nowrap ms-3 mt-2" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Student Details</h3>
            </div>
            <div class="modal-body pb-0">
                <div class="text-center w-75 mx-auto">
                    <span class="align-items-center display-3" id="StudentModalCode" style="text-transform: uppercase;font-weight: bold;font-family: Arial, serif;">ST-0001</span>
                    <p class="text-muted small lh-sm">Created On <span id="StudentModalJoinedDateText">2023-11-10</span></p>
                </div>
                <table class="table table-bordered table-responsive ">
                    <tbody class="small align-middle">
                    <tr>
                        <td class="fw-bold w-25">Title</td>
                        <td>
                            <div class="form-check form-check-inline" style="margin-right: 0.5rem!important;">
                                <input class="form-check-input" id="studentModalMr" name="studentTitle"
                                       type="radio" value="Mr" disabled>
                                <label class="form-check-label" for="studentModalMr" style="opacity: 1!important;">Mr.</label>
                            </div>
                            <div class="form-check form-check-inline" style="margin-right: 0.5rem!important;">
                                <input class="form-check-input" id="studentModalMs" name="studentTitle"
                                       type="radio" value="Ms" disabled>
                                <label class="form-check-label" for="studentModalMs" style="opacity: 1!important;">Ms.</label>
                            </div>
                            <div class="form-check form-check-inline" style="margin-right: 0.5rem!important;">
                                <input class="form-check-input" id="studentModalMrs" name="studentTitle"
                                       type="radio" value="Mrs" disabled>
                                <label class="form-check-label" for="studentModalMrs" style="opacity: 1!important;">Mrs.</label>
                            </div>
                        </td>
                        <td class="fw-bold w-25">Name With Initials</td>
                        <td>
                            <input type="text" class="small rounded-0 form-control-sm border-0 text-black" id="StudentModalNameWithInitials"  disabled value="E.A.M.Prabodhitha" >
                        </td>

                    </tr>
                    <tr>
                        <td class="fw-bold w-25">Full Name</td>
                        <td colspan="3">
                            <input type="text" class="small rounded-0 form-control-sm border-0 text-black w-100" id="StudentModalFullName" disabled value="Eduppili Arachchige Malindu Prabodhitha" >
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold w-25">Gender</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="text-center">
                                    <div class="d-flex align-items-center justify-content-center mx-auto bg-success text-white"
                                         id="leftMale"
                                         style="border-radius: 50%;height: 30px;width: 30px;background:#ddd">
                                        <i class="fa-solid fa-mars"></i>
                                    </div>
                                    <span class="text-muted small">Male</span>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" id="StudentModalGender" onchange="checkBoxValidator(this, leftMale, rightFemale, 'editedStudent', 'gender', 'Female', 'Male');" role="switch"
                                           type="checkbox" style="scale: 1.5;" disabled required>
                                </div>
                                <div class="text-center">
                                    <div class="d-flex align-items-center justify-content-center mx-auto" id="rightFemale"
                                         style="border-radius: 50%;height: 30px;width: 30px;background:#ddd">
                                        <i class="fa-solid fa-venus"></i>
                                    </div>
                                    <span class="text-muted small">Female</span>
                                </div>
                            </div>
                        </td>
                        <td class="fw-bold w-25">Dob</td>
                        <td>
                            <input type="text" class="small rounded-0 form-control-sm border-0 text-black" id="StudentModalDob" disabled value="1998-11-10" >
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold w-25">Language</td>
                        <td>
                            <select class="form-select rounded-0 small form-select-sm studentModalInputs" disabled required data-placeholder="Please Select a Language" onchange="selectStaticValueValidator(this,'','editedStudent','language')" id="studentModalLang">
                                <option value="Sinhala">සිංහල</option>
                                <option value="Tamil">தமிழ்</option>
                                <option value="English">English</option>
                            </select>
                        </td>
                        <td class="fw-bold w-25">Mobile Number</td>
                        <td>
                            <input type="text" class="small rounded-0 form-control-sm border-0 text-black" id="StudentModalMobile" disabled value="0768008003" >
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold w-25">Address Line 1</td>
                        <td>
                            <input type="text" class="small rounded-0 form-control-sm border-0 text-black" id="StudentModalAddress1"  disabled value="No: 9/3, Kaththota" >
                        </td>
                        <td class="fw-bold w-25">Address Line 2</td>
                        <td>
                            <input type="text" class="small rounded-0 form-control-sm border-0 text-black" id="StudentModalAddress2"  disabled value="" >
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold w-25">City</td>
                        <td>
                            <input type="text" class="small rounded-0 form-control-sm border-0 text-black" id="StudentModalCity"  disabled value="Nittambuwa" >
                        </td>
                        <td class="fw-bold w-25">Email</td>
                        <td>
                            <input type="text" class="small rounded-0 form-control-sm border-0 text-black" id="StudentModalEmail" disabled value="eamalindu@gmail.com" >
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold w-25">ID Type</td>
                        <td>
                            <select class="form-select rounded-0 small form-select-sm studentModalInputs" disabled required data-placeholder="Please Select a Language" onchange="selectStaticValueValidator(this,'','editedStudent','idType')" id="StudentModalIDType">
                                <option value="NIC">NIC</option>
                                <option value="POSTAL">Postal</option>
                            </select>
                        </td>
                        <td class="fw-bold w-25">ID Value</td>
                        <td>
                            <input type="text" class="small rounded-0 form-control-sm border-0 text-black" id="StudentModalIDValue"  disabled value="983151108V" >
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold w-25">Guardian Name</td>
                        <td colspan="3">
                            <input type="text" class="small rounded-0 form-control-sm border-0 text-black w-100" id="StudentModalGuardian" disabled value="Eduppili Arachchige Nihal" >
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold w-25">Relationship</td>
                        <td>
                            <select class="form-select rounded-0 small form-select-sm studentModalInputs" disabled required data-placeholder="Please Select a Relationship" onchange="selectStaticValueValidator(this,'','editedStudent','guardianRelationship')" id="StudentModalRelationship">
                                <option value="Mother">Mother</option>
                                <option value="Father">Father</option>
                                <option value="Spouse">Spouse</option>
                                <option value="Sibling">Sibling</option>
                                <option value="Cousin">Cousin</option>
                                <option value="Legal Guardian">Legal Guardian</option>
                            </select>
                        </td>
                        <td class="fw-bold w-25">Contact Number</td>
                        <td>
                            <input type="text" class="small rounded-0 form-control-sm border-0 text-black" id="StudentModalGuardianContactNumber"  disabled value="983151108V" >
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
<!--Modal for student edit end-->

<!-- Modal for new payment start-->
<div class="modal fade" id="modalAddPayment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="modalAddPayment" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-0">
            <div class="modal-header bg-custom-white">
                <button type="button" class="btn btn-sm btn-close-red text-white rounded-0" id="btnModalAddPaymentClose" data-bs-dismiss="modal"
                        aria-label="Close"><i aria-hidden="true" class="fas fa-times"></i></button>
                <h5 class="modal-title" id="staticBackdropLabel"
                    style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">
                    Add New Payment </h5>

            </div>
            <div class="modal-body p-3">
                <div class="row">
                    <div class="col-6">
                        <div class="border border-bottom-0 m-2 ">
                            <h5 class="small text-steam-green fw-bold border-bottom-0 p-2 mb-0 bg-custom-white" ><i
                                    class="fa-solid fa-list"></i> Balance Payment
                                <span class="float-end text-steam-green inline-block" ><i class="fa-solid fa-circle-chevron-up"></i></span>
                            </h5>
                            <table class="table table mb-0 text-center small" id="tblBalancePayment">
                                <thead>
                                <tbody class="small align-middle">
                                <tr class="border-0">
                                    <td class="fw-bold text-start border-0">Accumulated Dues</td>
                                    <td class="text-end border-0  border-start">Rs. 7,000.00</td>
                                </tr>

                                <tr class="bg-custom-white">
                                    <td class="fw-bold text-start border">Total Outstanding Fee</td>
                                    <td class="text-end border">Rs. 47,000.00</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-6">
                        <form onsubmit="return false;" id="frmNewPayment">
                            <div class="mb-2">
                                <div class="form-label">
                                    <label class="fw-bold small required" for="paymentMethod">Payment Method</label>
                                </div>
                                <select class="form-select rounded-0" id="paymentMethod" data-placeholder="Please Select a Payment Method" onchange="selectDynamicValueValidator(this,'','newPayment','paymentTypeID')" required>
                                    <option></option>
                                    <option value="test">test</option>
                                </select>
                                <div class="valid-feedback">Value Accepted</div>
                                <div class="invalid-feedback">Please provide a valid Payment Method</div>
                            </div>
                            <div class="mb-2">
                                <div class="form-label">
                                    <label class="fw-bold small required">Amount</label>
                                </div>
                                <div class="input-group">
                                    <input class="form-control rounded-0 newRegistrationPaymentInputs" id="paymentRupees" disabled readonly value="Rs.">
                                    <input class="form-control rounded-0 newRegistrationPaymentInputs" id="paymentAmount" required onkeyup="inputTextValidator(this,'^[0-9]{1,6}$','newPayment','amount')">
                                    <div class="valid-feedback rounded-2">Value Accepted</div>
                                    <div class="invalid-feedback rounded-2">Please provide a valid Amount</div>
                                </div>
                            </div>
                            <div class="mb-0">
                                <div class="d-flex justify-content-evenly">
                                <button class="btn btn-sm bg-secondary text-white rounded-0 btn-block w-25" id="paymentReset" type="button" onclick="resetPaymentForm()">Reset</button>
                                <button class="btn btn-sm bg-steam-green text-white rounded-0 btn-block w-25" id="paymentConfirm" type="submit" onclick="newPaymentSubmit()">Confirm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal for new payment end-->

<!-- Modal for reg override start -->
<div class="modal fade" id="modalChangeRegStatus" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="modalAddPayment" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-header bg-custom-white">
                <button type="button" class="btn btn-sm btn-close-red text-white rounded-0" id="btnModalChangeRegStatus" data-bs-dismiss="modal"
                        aria-label="Close"><i aria-hidden="true" class="fas fa-times"></i></button>
                <h5 class="modal-title" id="ModalChangeRegStatusLabel"
                    style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">
                   Registration Status Override </h5>

            </div>
            <div class="modal-body p-3">
                <span class="fw-bold small">Registration's Status Will Be Changed To</span>
                <div class="row px-5 text-center mb-2" style="margin-top: .5rem;">
                    <div class="col-4 bg-info text-white">
                        <span class="" id="currentRegStatus">Active</span>
                    </div>
                    <div class="col-4">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div class="col-4 bg-warning text-white">
                        <span class="" id="editedRegStatus">Inactive</span>
                    </div>
                </div>
                <form id="frmRegistrationUpdate" onsubmit="return false">
                <div class="mb-2">
                    <div class="form-label">
                        <label class="fw-bold small required" for="registrationReason">Reason For Change</label>
                    </div>
                    <textarea class="form-control rounded-0" id="registrationReason" onkeyup="inputTextValidator(this,'','editedRegistration','overrideReason')" cols="30" rows="5" required style="font-size: 13px;"></textarea>
                    <div class="small text-muted">
                        <small>The registration status override request will be reviewed by the branch manager and if approved, registration status will be changed automatically</small>
                    </div>
                    <div class="valid-feedback">Value Accepted</div>
                    <div class="invalid-feedback">Please provide a valid Date</div>
                </div>

                <button class="btn btn-sm btn-success rounded-0 mx-auto d-block mb-2" type="submit" id="btnSubmitOverride">Submit Request</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for reg override end -->

<!--Toast-->
<div class="position-fixed top-0 end-0 p-2" style="z-index: 1055">
    <div id="myToast" class="toast hide bg-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body text-capitalize fw-bold">
            The currently highlighted data are editable
        </div>
    </div>
</div>

<script src="/resources/js/external-validator.js" type="text/javascript"></script>
<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/numberstowords.js" type="text/javascript"></script>
<script src="/resources/js/external-loader.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/registrations.js"></script>
<script th:replace="~{ fragments/logout :: logoutScript}"></script>
</body>
</html>