<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Forget Password | STEAM RMS</title>
    <!-- Favicon Icon -->
    <link href="/resources/images/icon-sq.png" rel="icon" type="image/png"/>
    <!-- Bootstrap CSS File-->
    <link href="/resources/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/resources/fontawesome-6.4.2/css/all.min.css" rel="stylesheet">
    <script src="/resources/bootstrap-5.2.3/js/bootstrap.bundle.js"></script>
    <!-- Jquery Js File -->
    <script src="/resources/jquery/jquery.min.js"></script>
    <link href="/resources/css/customRMS.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }
        .login-card {
            width: 350px;
            background-color: white;
            color: black;

        }

        .background {
            background-image: url("/resources/images/resetBackground.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom;
            background-color: #000;

        }
        .bg-custom-white{
            background: #f2f2f2;
            border-bottom: 1px solid #ddd;
        }
        .bg-light-white {

            background: #f4f4f4;
        }
        .bg-green {
            background: #19459D;
        }
        .form-control:focus {
            border-color: #19459D !important;
            box-shadow: none;
        }
    </style>

</head>
<body>
<!--Loader Start-->
<div th:replace="~{fragments/loader :: loader}"></div>
<!-- Loader end-->


<div class="container-fluid p-0">
    <div class="row p-0 m-0">
        <div class="col-6 vh-100 background d-flex align-items-center justify-content-center">
            <div class="text-center">

            </div>
        </div>
        <div class="col-6 d-flex bg-light-white align-items-center justify-content-center" id="test">

            <div class="p-2">
                <a href=""><img class="mx-auto d-block mb-3" src="/resources/images/logo-sq.png" width="15%"></a>

                <form id="frmOTP" class="login-card p-3 mx-auto" onsubmit="return false;">
                    <h1 class="h5 fw-bold text-center mb-3">Reset Your Password</h1>
                    <label for="username">Enter Your Email Address</label>
                    <div class="input-group mb-2 p-0">
                        <input class="form-control  rounded-0" id="username" name="username" placeholder="example@domain.com"
                               required type="text">
                        <button class="btn btn-sm btn-success" id="btnSendOtp" type="button" onclick="sendOTP()">Send OTP</button>
                        <div id="countdownText" class="w-100 small text-muted text-end"><small>An OTP will be sent to your email</small></div>
                    </div>
                    <label for="password" id="lblPassword" class="d-none">Enter Your OTP</label>
                    <div class="d-none input-group" id="otpContainer">
                        <input class="form-control rounded-0" id="password" name="password" placeholder="********"
                               required type="password" maxlength="6">

                        <button class="btn btn-sm rounded-0 bg-green border-green text-white" type="button" onclick="checkOTP()" id="btnLogin" disabled>Confirm</button>
                    </div>
                </form>
                <p class="text-muted mb-0 mt-2 text-center"><small><a class="text-muted" href="login">Login Page</a></small></p>
            </div>
        </div>

    </div>
</div>

<!--Modal for Change Password -->
<div class="modal fade" id="modalChangePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalPaymentPlan" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-header bg-custom-white">
                <h5 class="modal-title" id="staticBackdropLabel" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">
                    Update Your Password </h5>
                <button type="button" id="modalChangePasswordCloseButton" class="btn btn-sm btn-close-red text-white rounded-0" data-bs-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="fas fa-times"></i></button>
            </div>
            <div class="modal-body p-3">
                <p class="m-0 fw-bold text-end"><label class="required"></label><span class="text-danger"><sup> Mandatory Fields </sup></span></p>
                <form onsubmit="return false;" id="frmUpdate">
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="newPassword">New Password</label>
                        </div>
                        <input class="form-control rounded-0" id="newPassword" type="password" required onkeyup="passwordValidator()">
                        <div class="valid-feedback">Value Accepted</div>
                        <div class="invalid-feedback">Please provide a valid Password</div>
                        <div class="text-muted small"><small>Password must be at least 8 characters long.<br>At least contain one uppercase, numeric and special character </small></div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="confirmPassword">Confirm Password</label>
                        </div>
                        <input class="form-control rounded-0" id="confirmPassword" type="password" required onkeyup="matchPassword()">
                        <div class="valid-feedback">Password Matched</div>
                        <div class="invalid-feedback">Password Doesn't Match</div>
                        <div class="text-muted small"><small>Re Enter the password </small></div>

                    </div>
                    <button class="btn mt-3 rounded-0 mb-2 w-50 mx-auto d-block text-white bg-steam-green" id="btnUpdate" onclick="updatePassword()">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/resources/js/external-commonFunction.js"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-loader.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/resetPassword.js"></script>
</body>
</html>