<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Forget Password | STEAM RMS</title>
    <!-- Favicon Icon -->
    <link href="/resources/images/icon-sq.png" rel="icon" type="image/png"/>
    <!-- Bootstrap CSS File-->
    <link href="/resources/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/resources/fontawesome-6.4.2/css/all.min.css" rel="stylesheet">
    <script src="/resources/bootstrap-5.2.3/js/bootstrap.bundle.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }
    </style>

</head>
<body>

</body>
</html>