<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: headFragment}"></head>

<body>
<!--Loader Start-->
<div th:replace="~{fragments/loader :: loader}"></div>
<!-- Loader end-->

<!--Navbar start-->
<nav th:replace="~{ fragments/navbar ::navbarFragment}"></nav>
<!--Navbar end-->

<!-- Display Current Page -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Manage Exam Marks</h5>
</div>

<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body rounded-0">
            <div class="row align-items-center d-flex gap-3">
                <div class="col-12 col-lg-7"></div>
                <div class="col-12 col-lg-auto m-0 p-0">
                    <label class="text-uppercase text-muted small m-0 p-0" for="examSearchCourse">Filters</label>
                    <div class="input-group">
                        <span class="input-group-text bg-custom-white rounded-0"><i class="fa-solid fa-filter"></i></span>
                        <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Select Course First" onchange="getBatches()" id="examSearchCourse">

                        </select>
                        <select class="form-select rounded-0 chosen-registration-search" data-placeholder="Select Batch" id="examSearchBatch">

                        </select>

                    </div>

                </div>
                <div class="col-lg-auto">
                    <label class="text-uppercase small m-0 p-0 text-muted">Search</label>
                    <div class="d-flex align-items-center justify-content-evenly">
                        <button class="btn bg-steam-green rounded-0 text-white" id="" type="submit"><i class="fa-solid fa-magnifying-glass small"></i></button>
                        <button class="btn btn-close-red rounded-0 text-white ms-3" id="btn-reset" type="reset" onclick="resetSearchBar()">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer show pt-4 pb-4">
            <h4 class="text-center fw-bold"
                style="font-family: Arial,serif;text-transform: uppercase;font-size: medium">Showing Exam Marks Info</h4>
        </div>
    </div>
</div>




<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-validator.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-exportData.js" type="text/javascript"></script>
<script src="/resources/js/external-loader.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/exam.js" type="text/javascript"></script>
<script th:replace="~{ fragments/logout :: logoutScript}"></script>
</body>
</html>